.calc-button,
.calc-mainBox.light .calc-button {
  background-color:rgba(0,0,0,0.6);
  border:1px solid rgba(0,0,0,0.8);
  color:#fff;
  height:32px;
  width:48px;
}

.calc-button:hover,.calc-mainBox.light .calc-button:hover {
  background-color:rgba(255,255,255,.1);
}

.calc-button:active,.calc-mainBox.light .calc-button:active {
  background-color:rgba(255,255,255,.2);
}

.calc-button-padding {
  padding:4px;
}

.calc-displayArea {
  padding:5px;
}

.calc-displayWindow,.calc-mainBox.light .calc-displayWindow {
  background-color:rgba(0,0,0,0.6);
  border:1px solid rgba(0,0,0,0.8);
  border-radius:2px;
  height:50px;
  padding:5px;
}

.calc-displayWindow-rpn,.calc-mainBox.light .calc-displayWindow-rpn {
  background-color:rgba(0,0,0,0.6);
  border:1px solid rgba(0,0,0,0.8);
  border-radius:2px;
  padding:10px;
}

.calc-displayText-primary {
  color:#f3f3f3;
  font:1,2em monospace;
  text-align:right;
}

.calc-displayText-secondary {
  color:#ccc;
  font:1em monospace;
 text-align:right;
}

.calc-displayText-rpn {
  color:#f3f3f3;
  font-family:monospace;
}

.calc-stackArea {
  height:85px;
  padding-top:8px;
}

.calc-navigation-box {
  padding:0 0 0 8px;
  width:22px;
}

.calc-navigation-icon {
  color:#ccc;
  icon-size:22px;
}

.calc-navigation-button {
  border:0;
  border-radius:0;
}

.desklet .calc-mainBox,
.desklet .calc-mainBox.light,
.desklet-with-borders .calc-mainBox,
.desklet-with-borders .calc-mainBox.light
.desklet-with-borders-and-header .calc-mainBox,
.desklet-with-borders-and-header .calc-mainBox.light {
  background-color:rgba(0,0,0,0);
}

.calc-displayText-operation,.calc-displayText-status {
  color:#ccc;
  font:.7em monospace;
}
