.clock-container{
  text-align:center;
  color:#f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,0.6);
}
.hour-container{
}
.date-container{
  font-size:1em;
  font-weight:bold;
  padding:0px 5px;
  text-align:center;
}
.clock-hour-label{
  font-size: 5em;
}
.clock-min-label{
  font-size: 2,5em;
}
.clock-sec-label{
  font-size: 1em;
}
.clock-date-label{
}
