.devtools-mainBox {
  font-size: 1em;
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  padding: 3px;
  border: 1px solid rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.6);
  border-radius:3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}

.devtools-panel {

}

.devtools-button {
  padding: 3px;
  border-radius: 2px;
  background:transparent;
  background-gradient-direction: none;
  border:1px solid transparent;
  box-shadow:none;
  color: #f3f3f3;
  font-weight:bold;
  text-shadow:0 0 0 #000;
}

.devtools-button:hover,
.devtools-button:active {
  border-radius: 2px;
  border:1px solid #000000;
  box-shadow:none;
  background-gradient-direction: none;
  background: rgba(255,255,255,.3);
}

.devtools-indented {
  padding-left: 20px;
}

.devtools-contentButton {
  border-radius: 2px;
  background:rgba(255,255,255,.2);
  background-gradient-direction: none;
  border:1px solid #000000;
  box-shadow:none;
  color: #f3f3f3;
  padding:2px 20px;
  font-weight:bold;
  text-shadow:0 0 0 #000;
}

.devtools-contentButton:hover {
  border:1px solid #000000;
  box-shadow:none;
  background-gradient-direction: none;
  background: rgba(255,255,255,.3);
}

.devtools-checkBox StBin,
.devtools-checkBox:focus StBin {
  width: 16px;
  height: 16px;
  background-image: url("theme/images/checkbox.svg");
}
.devtools-checkBox:checked StBin,
.devtools-checkBox:focus:checked StBin {
  background-image: url("theme/images/checkbox_checked.svg");
}

.devtools-checkBox StLabel {
  font-weight:normal;
  font-size:1em;
}

/*tab*/
.devtools-tab {
  border-radius: 2px;
  background:rgba(255,255,255,.2);
  background-gradient-direction: none;
  border:1px solid #000000;
  box-shadow:none;
  color: #f3f3f3;
  padding:1px 20px;
  font-weight:bold;
  text-shadow:0 0 0 #000;
  width: 80px;
}

.devtools-tab:hover {
  border:1px solid #000000;
  box-shadow:none;
  background-gradient-direction: none;
  background: rgba(255,255,255,.3);
}

.devtools-tab:selected {
  background-gradient-direction: none;
  background: rgba(0,0,0,.3);
  text-decoration:underline;
}

.devtools-tab-scrollButton {
  border-radius: 2px;
  background:rgba(0,0,0,.9);
  background-gradient-direction: none;
  border:1px solid #000000;
}

.devtools-tabPanels {
}

.devtools-tabScroll StBoxLayout {
  padding: 3px;
  spacing: 3px;
}

.devtools-tabScroll StScrollBar,
.devtools-tabScroll StBin#trough,
.devtools-tabScroll StButton#hhandle,
.devtools-tabScroll StButton#hhandle:hover {
  min-height: 0px;
}

/*terminal*/
.devtools-terminal-mainBox {
  spacing: 5px;
  padding: 5px;
}

.devtools-terminal-entry {
  border:1px solid rgba(0,0,0,.9);
  background-color:rgba(0,0,0,.5);
  color: #f3f3f3;
  caret-color: #f3f3f3;
  caret-size: 2px;
  ng: 2px 4px 2px 4px;
  font: 14px Noto Mono, monospace;
}

.devtools-terminal-processesBox {
  spacing: 5px;
  padding: 5px;
}

.devtools-terminal-processBox {
  border:1px solid rgba(0,0,0,.4);
  background-color:rgba(0,0,0,.2);
  padding: 3px;
}

/*extensions*/
.devtools-extensions-mainBox {
  spacing: 5px;
  padding: 5px;
}

.devtools-extensions-container {
  border:1px solid rgba(0,0,0,.4);
  background-color:rgba(0,0,0,.2);
  padding: 3px;
}

.devtools-extensions-title {
  font-weight: bold;
}

.devtools-extensions-icon {
  padding: 0 8px 0 4px;
}

.devtools-extensions-buttonBox {
  padding: 3px 0 3px 0;
  spacing: 7px;
}

.devtools-extensions-instanceBox {
  spacing: 20px;
}

/*windows*/
.devtools-windows-mainBox {
  spacing: 5px;
  padding: 5px;
}

.devtools-windows-windowBox {
  border:1px solid rgba(0,0,0,.4);
  background-color:rgba(0,0,0,.2);
  padding: 3px;
}

.devtools-windows-icon {
  padding: px 8px px 4px;
}

.devtools-windows-buttonBox {
  padding: 3px px 3px px;
  spacing: 7px;
}

/*sandbox*/
.devtools-sandbox-entryText {
  border: solid 1px #000000;
  border-radius: 3px;
  background-color: rgba(255,255,255,.5);
  padding: 5px;
  font: 14px Noto Mono, monospace;
  color: #000000;
  selected-color: #ffffff;
  selection-background-color: #797979;
  caret-color: #000000;
  caret-size: 2px;
}
.devtools-sandbox-entryText StScrollBar {
  min-width: 10px;
}
.devtools-sandbox-entryText StBin#trough {
  background-color: transparent;
}
.devtools-sandbox-entryText StButton#vhandle {
  background-color: rgba(0,0,0,.6);
  border-radius: 2px;
}
.devtools-sandbox-entryText StButton#vhandle:hover {
  background-color: rgba(0,0,0,.6);
}
.devtools-sandbox-buttonBox {
  spacing: 5px;
  padding-right: 5px;
}

.devtools-sandbox-button {
  border-radius: 2px;
  background:rgba(255,255,255,.2);
  background-gradient-direction: none;
  border:1px solid #000000;
  box-shadow:none;
  color: #f3f3f3;
  padding:1px 20px;
  font-weight:bold;
  text-shadow:0 0 0 #000;
}

.devtools-sandbox-button:hover {
  border:1px solid #000000;
  box-shadow:none;
  background-gradient-direction: none;
  background: rgba(255,255,255,.3);
}

.devtools-sandbox-previewer {
  padding: 10px;
  margin-top:5px;
  border: solid 1px #000;
  border-radius:2px;
}

.devtools-sandbox-tabs {
  spacing: 3px;
  padding: 5px;
}

.devtools-sandbox-tab {
  border-radius: 2px;
  background:rgba(255,255,255,.2);
  background-gradient-direction: none;
  border:1px solid #000000;
  box-shadow:none;
  color: #f3f3f3;
  padding:1px 20px;
  font-weight:bold;
  text-shadow:0 0 0 #000;
  width: 80px;
}

.devtools-sandbox-tab:hover {
  border:1px solid #000000;
  box-shadow:none;
  background-gradient-direction: none;
  background: rgba(255,255,255,.3);
}

.devtools-sandbox-tab:selected,
.devtools-sandbox-tab:hover:selected {
  background-gradient-direction: none;
  background: rgba(0,0,0,.3);
  text-decoration:underline;
}
/*log*/
.devtools-log-bottomBox {
  spacing: 5px;
}
/*inspect*/
.devtools-inspect-content {
  spacing: 5px;
}
.devtools-inspect-scrollbox {

}
.devtools-inspect-subtitle {
  font-size: 20px;
  padding-top: 3px;
}
