.mint-mainBox,
.mint-mainBox:compact {
  font-size: 1em;
  color: #f3f3f3;
  text-shadow:0 0 0 #000;
  padding:3px 0;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.6);
  border-radius:3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
}

.mint-mainBox .soundbox-buttonMenu,
.mint-mainBox:compact .soundbox-buttonMenu {
  border-radius: 2px;
  background:rgba(255,255,255,.2);
  background-gradient-direction: none;
  border:1px solid #000000;
  box-shadow:none;
  color: #f3f3f3;
  padding:1px 20px;
  font-weight:bold;
  text-shadow:0 0 0 #000;
}

.mint-mainBox .soundbox-buttonMenu:hover,
.mint-mainBox .soundbox-buttonMenu:active {
  border:1px solid #000000;
  box-shadow:none;
  background-gradient-direction: none;
  background: rgba(255,255,255,.3);
}

.mint-mainBox .soundbox-divider,
.mint-mainBox:compact .soundbox-divider {
  background-color: rgba(0,0,0,0.6);
  border-radius: 0;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
  -margin-horizontal: 0;
  height: 1px;
}

.mint-mainBox .soundbox-divider-box,
.mint-mainBox:compact .soundbox-divider-box {
  color: rgba(0,0,0,0.6);
  padding: 0px 30px 0px 30px;
}

.mint-mainBox .soundbox-text, .mint-mainBox .soundbox-buttonText, .mint-mainBox .soundbox-appTitle, .mint-mainBox .soundbox-playerTitleText, .mint-mainBox .soundbox-trackInfo-text {
  color: #f3f3f3;
  text-shadow:0 0 0 #000;
}

.mint-mainBox .soundbox-volumeBox,
.mint-mainBox .soundbox-appBox, 
.mint-mainBox .soundbox-volumeButton,
.mint-mainBox:compact .soundbox-volumeButton {
  padding: 2px 5px 2px 5px;
}

.mint-mainBox .soundbox-slider {
  -slider-height: 0.5em;
  -slider-background-color: rgba(255,255,255,.1);
  -slider-border-color: #ff00ff;
  -slider-active-height: 0.5em;
  -slider-active-background-color: #999;
  -slider-active-border-color: #ff00ff;
  -slider-border-width: 0;
  -slider-handle-radius: 0.5em;
  -slider-handle-color: #f3f3f3;
  -slider-handle-border-color: #ff00ff;
  min-width:15em;
  padding:0px;
  min-height: 1em;
  border-radius:0.5em;
}

.mint-mainBox .soundbox-volumeIcon,
.mint-mainBox .soundbox-appIcon,
.mint-mainBox .soundbox-trackInfo-icon,
.mint-mainBox .soundbox-soundButton-icon,
.mint-mainBox .soundbox-playerIcon,
.mint-mainBox:compact .soundbox-volumeIcon,
.mint-mainBox:compact .soundbox-appIcon,
.mint-mainBox:compact .soundbox-trackInfo-icon{
  icon-size:16px;
  color: #f3f3f3;
  margin:3px;
  padding:0;
}

.mint-mainBox .soundbox-soundButton-icon {
  margin:0px;
}

.mint-mainBox .soundbox-appTitleBox {
  padding:0 5px;
}

.mint-mainBox .soundbox-titleBar,
.mint-mainBox:compact .soundbox-titleBar {
  color: #f3f3f3;
  font-weight:bold;
  background-color: rgba(255,255,255,0.2);
  background-gradient-direction: none;
  border-image: none;
  border: 1px solid #000000;
  border-left:0;
  border-right:0;
}

.mint-mainBox .soundbox-playerTitle,
.mint-mainBox .soundbox-quitButton,
.mint-mainBox .soundbox-raiseButton {
    color: #f3f3f3;
    padding: 0px 3px;
    text-shadow:0 1px 0 #000;
}

.mint-mainBox .soundbox-playerSelectButton:hover,
.mint-mainBox .soundbox-raiseButton:hover,
.mint-mainBox .soundbox-quitButton:hover {
  background-color: rgba(255,255,255,0.3);
}

.mint-mainBox .soundbox-trackInfoBox,
.mint-mainBox:compact .soundbox-trackInfoBox {
  margin: 0 20px 0 20px;
  width: 200px;
}

.mint-mainBox .soundbox-trackInfo,
.mint-mainBox:compact .soundbox-trackInfo {
  padding: 2px 0 2px 0;

  text-shadow:0 0 0 #ff00ff;
}

.mint-mainBox .soundbox-albumCover-box {
  margin: 5px 20px 5px 20px;
  background: none;
}

.mint-mainBox .soundbox-albumCover {
  border:0;
  icon_size: 200px;
  width: 200px;
  height: 200px;
}

.mint-mainBox .soundbox-timeBox {
  margin-top:6px;
  font-weight:bold;
  text-align:center;
  padding: 0px 0px;
}

.mint-mainBox .soundbox-buttonBox,
.mint-mainBox:compact .soundbox-buttonBox {
  padding: 5px;
}

.mint-mainBox .soundbox-soundButton-box,
.mint-mainBox:compact .soundbox-soundButton-box {
  padding-right: 3px;
  padding-left: 3px;
}

.mint-mainBox .soundbox-soundButton,
.mint-mainBox:compact .soundbox-soundButton {
  width: 22px;
  height: 16px;
  border-radius: 2px;
  background:rgba(255,255,255,.2);
  background-gradient-direction: none;
  border:1px solid #000000;
  box-shadow:none;
  color: #f3f3f3;
  padding:2px;
  font-weight:bold;
  text-shadow:0 0 0 #000;
}

.mint-mainBox .soundbox-soundButton:hover,
.mint-mainBox .soundbox-soundButton:active {
  border:1px solid #000000;
  box-shadow:none;
  background-gradient-direction: none;
  background: rgba(255,255,255,.3);
}


#Tooltip.mint-tooltip {
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  border: 1px solid #000000;
  background:#454545;
  background-gradient-direction: vertical;
  background-gradient-start: #454545;
  background-gradient-end: #454545;
  color: #f3f3f3;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  padding:3px;
  margin:2px;
}

/* UNSURE
#mint-popup {
    -arrow-border-radius: 6px;
    -arrow-background-color: rgba(55,55,55,1);
    -arrow-border-width: 1px;
    -arrow-border-color: rgba(90,90,90,1);
    -arrow-base: 25px;
    -arrow-rise: 0px;
    -boxpointer-gap: 2px;
}

#mint-popup .popup-menu-content {
    border-image: none;
    text-shadow: 0px 0px 0px 0px;
}

#mint-popup .popup-menu-item {
    border-image: none;
    border-width: 0px;
    text-mint: 0px 0px 0px 0px;
    color: #fff;
    border-radius: 0px;
    padding: .4em 1em;
    spacing: 1em;
}

#mint-popup .popup-menu-item:active {
    box-mint: 0px 0px 0px 0px;
    border-image: none;
    border-width: 0px;
    text-mint: 0px 0px 0px 0px;
    color: #fff;
    background-color: rgba(80,80,80,1);
    background-gradient-direction: none;
}

.soundBox-contextMenuSection {
    padding-left: 15px;
}

*/
