.clock-container{
  color:#f3f3f3;
  text-shadow: 1px 1px 2px #000;
  padding: 4px 10px 4px 10px;
}
.time-container{
}
.date-container{
}
.clock-date-label{
  font-family:monospace;
  font-weight:bold;
}
