.quotes-reader {
  font-size: 1em;
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  padding: 3px;
  border: 1px solid rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.6);
  border-radius:3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}

.quotes-table-item {
  padding-left: 2px;
  padding-right: 5px;
}

.quotes-label {
  text-align: center;
}

.quotes-label-up {
  text-align: center;
  color: #7ea454;
}

.quotes-label-down {
  text-align: center;
  color: #dc5050;
}

.error-label {
  text-align: left;
  color: #de9d45;
}
