/*  
  alt-tab.css  
*/
#altTabPopup {
  padding: 8px;
  spacing: 16px;
}
.switcher-list {
  background: rgba(21,21,21,.95);
  border: 1px solid #000;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
  border-radius: 2px;
  padding: 20px;
  font-size: 0;
  color: #f3f3f3;
  text-shadow: black 0 0 2px;
}
.switcher-list-item-container {
  spacing: 4px;
}
.thumbnail-scroll-gradient-left {
  background-gradient-direction: none;
  background:rgb(51,51,51);
  border-radius: 24px;
  border-radius-topright: 0;
  border-radius-bottomright: 0;
  width: 60px;
}
.thumbnail-scroll-gradient-right {
  background-gradient-direction: none;
  background:rgb(51,51,51);
  border-radius: 24px;
  border-radius-topleft: 0;
  border-radius-bottomleft: 0;
  width: 60px;
}
.switcher-list .item-box {
  padding: 4px;
  border-radius: 2px;
}
.switcher-list .item-box:outlined {
}
.switcher-list .item-box:selected {
  background: #797979;
}
.switcher-list .thumbnail-box {
  padding: 2px;
  spacing: 4px;
}
.switcher-list .thumbnail {
  width: 256px;
}
.switcher-list .separator {
  width: 1px;
  background: rgba(255,255,255,.2);
}
.ripple-box,
.ripple-box:rtl {
  width: 104px;
  height: 104px;
  background-image: url("theme/images/corner-ripple.svg");
}
.switcher-arrow {
  border-color: rgba(0,0,0,0);
  color: #f3f3f3;
}
.switcher-arrow:highlighted {
  border-color: rgba(0,0,0,0);
  color: #ffffff;
}
.switcher-preview-backdrop {
  background-color: rgba(25,25,25,.65);
}

/*  
  applet.css  
*/
.applet-box
.applet-label,
.applet-icon {
  margin:0;
  padding:0;
  icon-size:16px;
  text-shadow:0 0 transparent;
  color:#f3f3f3;
}
.applet-separator {
}
.applet-separator-line,
.applet-separator-line-vertical {
  padding:0;
  margin:0;
  width: 2px;
  background: rgba(255,255,255,.15);
}

.panel-top .applet-box,
.panel-bottom .applet-box,
.panel-left .applet-box,
.panel-right .applet-box {
  margin:2px;
}

.panel-top .applet-label,
.panel-bottom .applet-label,
.panel-left .applet-label,
.panel-right .applet-label {
  margin:0px 5px;
}

/*  
  checksandradiobuttons.css  
*/
.check-box CinnamonGenericContainer {
  spacing: .2em;
}
.check-box StBin,
.check-box:focus StBin {
  width: 16px;
  height: 16px;
  background-image: url("theme/images/checkbox.svg");
}
.check-box:checked StBin,
.check-box:focus:checked StBin {
  background-image: url("theme/images/checkbox_checked.svg");
}
.check-box StLabel {
  font-weight:normal;
}
.radiobutton CinnamonGenericContainer {
  spacing: .2em;
  height: 18px;
  padding-top: 2px;
}
.radiobutton StBin,
.radiobutton:focus StBin {
  width: 16px;
  height: 16px;
  background-image: url("theme/images/radiobox.svg");
}
.radiobutton:checked StBin,
.radiobutton:focus:checked StBin {
  background-image: url("theme/images/radiobox_checked.svg");
}
.radiobutton StLabel {
  padding-top: 4px;
  font-size: .9em;
  box-shadow: none;
}

/*  
  desklet.css  
*/
.desklet {
  font-size: 1em;
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
}
.desklet-with-borders {
  font-size: 1em;
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  padding: 3px;
  border: 1px solid rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.6);
  border-radius:3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}
.desklet-with-borders-and-header {
  font-size: 1em;
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  border: 1px solid rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.6);
  border-radius-bottomleft: 3px;
  border-radius-bottomright: 3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}
.desklet-header {
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  font-size: 1em;
  font-weight:bold;
  border: 1px solid rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.6);
  border-bottom: 0;
  border-radius-topleft: 3px;
  border-radius-topright: 3px;
  padding:5px 2px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}
.desklet:highlight,
.desklet:highlight-with-borders,
.desklet:highlight-with-borders-and-header,
.desklet-drag-placeholder {
  border-radius:3px;
  border: 0;
  background-color: rgba(0,0,0,.3);
}

/*  
  expo.css  
*/
.expo-background {
  background-gradient-direction: vertical;
  background-gradient-start: #7c7b78;
  background-gradient-end: #5e5d5b;
  background-image: url("theme/images/noise.png");
  background-repeat: repeat;
}

.workspace-thumbnail {
}

.workspace-thumbnails {
  spacing: 32px;
}

.expo-workspace-thumbnail-frame {
  border-radius:0px;
  border:1px solid rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,.3);
}
.expo-workspace-thumbnail-frame#active {
  border:1px solid rgba(48,48,48,.8);
  background-color: rgba(48,48,48,.3);
}
.expo-workspaces-name-entry {
  height:15px;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  background: rgba(0,0,0,.5);
  min-width: 200px;
  color: rgba(255,255,255,.9);
  padding:5px;
  text-align: center;
  background-gradient-direction: none;
  caret-color: rgba(255,255,255,.9);
  caret-size: 2px;
  selection-background-color: #797979;
  selected-color: #fff;
}
.expo-workspaces-name-entry#selected {
  background-color: rgba(48,48,48,.8);
  border-color: rgba(48,48,48,.95);
  color: rgba(255,255,255,.9);
}
.expo-workspaces-name-entry:focus {
  color: rgba(255,255,255,.9);
  transition:0;
}

.expo-workspaces-name-entry > * {
  margin:20px;
  padding:20px;
}

.workspace-add-button {
  background-image: url("theme/images/expo-add-workspace.svg");
  height: 60px;
  width: 60px;
  transition-duration: 0;
}

.workspace-add-button:hover {
  background-image: url("theme/images/expo-add-workspace_hover.svg");
  height: 60px;
  width: 60px;
  transition-duration: 0;
}

.workspace-close-button {
    background-image: url("theme/images/close-button.svg");
    height: 48px;
    width: 48px;
    -cinnamon-close-overlap: 24px;
}

/*
unsure stuff or old stuff

.workspace-controls {
    visible-height: 32px;
}
.workspace-thumbnail-indicator {
    outline: 2px solid white;
    border: 1px solid #888;
}
.workspace-thumbnails-background {
  border: 1px solid rgba(255, 128, 255, 0.4);
  border-right: 0px;
    border-radius: 9px 9px 0px 0px;
    background-color: rgba(255, 0, 255, 0.5);
    padding: 8px;
    box-shadow:4px 0px 4px #000000;

}
.workspace-thumbnails-background:rtl {
    border-right: 1px;
    border-left: 0px;
    border-radius: 9px 9px 0px 0px;
}
*/

/*  
  generic.css  
*/
stage {
    font-family: Noto Sans, Roboto, sans-serif;
}
.cinnamon-link {
  padding: 2px 5px;
  text-decoration: none;
  color:rgba(255,255,255,.5);
}
.cinnamon-link:hover {
  text-decoration: underline;
  color:#f3f3f3;
}
.label-shadow {
    color: rgba(0,0,0,0);
}
StScrollBar {
  padding:0;
}
StScrollView.vfade {
  -st-vfade-offset: 0;
}
StScrollView StScrollBar {
  min-width: 14px;
  min-height: 14px;
}
StScrollBar StBin#trough {
  background-color: rgba(0,0,0,.4);
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2px;
  padding:2px;
}
StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle,
StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover {
  background-color: rgba(255,255,255,.3);
  border-radius: 2px;
  margin:3px;
}
.separator {
  -gradient-height: 1px;
  -gradient-start: rgba(0,0,0,.5);
  -gradient-end: rgba(0,0,0,.5);
  -margin-horizontal: 0;
  height: 1px;
}
.slider {
    height: 1em;
    min-width:15em;
    color:#8a8a8a;
    -slider-height: 1em;
    -slider-background-color: rgba(0,0,0,.2);
    -slider-border-color: rgba(0,0,0,.6);
    -slider-active-background-color: #8a8a8a;
    -slider-active-border-color: rgba(0,0,0,.6);
    -slider-border-width: 0;
    -slider-handle-radius: 0.5em;
}

/* eg: by adding a new panel */
.info-osd,
#LookingGlassDialog {
  font-size: 1em;
  font-weight:bold;
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  padding: 3px;
  background: rgba(21,21,21,.95);
  border: 1px solid #000;
  border-radius:3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}

/* vol up/down OSD */
.osd-window {
  padding:20px;
  font-size: 1em;
  font-weight:bold;
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  background: rgba(21,21,21,0.95);
  border: 1px solid #000;
  border-radius:3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}

.osd-window .level {
  margin:5px;
  height: 1em;
  border-radius:.2em;
  background-color: rgba(255,255,255,.2);
}

.osd-window .level-bar {
  height: 1em;
  border-radius:.2em;
  background-color: rgba(255,255,255,.8);
}

/*Window tiling eg: dragging them to corners or other workspaces*/
.tile-preview,
.tile-hud {
  border-radius:3px;
  border: 0;
  background-color: rgba(0,0,0,.5);
}

.tile-preview.snap,
.tile-hud.snap {
  border-radius:3px;
  border: 0;
  background-color: rgba(48,48,48,.5);
}

.tile-hud:top {
  border-radius: 0 0 3px 3px;
}

.tile-hud:bottom {
  border-radius: 3px 3px 0 0;
}

.tile-hud:left {
  border-radius: 0 3px 3px 0;
}

.tile-hud:right {
  border-radius: 3px 0 0 3px;
}

.tile-hud:top-left {
  border-radius: 0 0 3px 0;
}

.tile-hud:top-right {
  border-radius: 0 0 0 3px;
}

.tile-hud:bottom-left {
  border-radius: 0 3px 0 0;
}

.tile-hud:bottom-right {
  border-radius: 3px 0 0 0;
}

/* visual alerts*/
.flashspot {
    background-color: #de9d45;
    transition:5s;
}
/* ===================================================================
 * unsure stuff
 * ===================================================================*/

.window-close-area {
    background-image: url("trash-icon.png");
    background-size: 100px;
    background-color: rgba(60, 60, 60, 0.8);
    border: 4px solid rgba(128,128,128,0.8);
    border-bottom-width: 0px;
    border-radius: 20px 20px 0px 0px;
    height: 120px;
    width: 400px;
}


#overview {
  spacing: 12px;
}

.overview-icon {
    border-radius: 4px;
    padding: 3px;
    border: 1px rgba(0,0,0,0);
    font-size: 7.5pt;
    color: white;
    transition-duration: 100;
    text-align: center;
}

/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
    icon-size: 48px;
}
.mount-password-reask {
    color: red;
}
.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}
.show-processes-dialog-subject,
.mount-question-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #666666;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}
.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0;
    padding-right: 17px;
}
.show-processes-dialog-description,
.mount-question-dialog-description {
    font-size: 10pt;
    color: white;
    padding-left: 17px;
    width: 28em;
}
.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}
.show-processes-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}
.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}
.show-processes-dialog-app-list-item {
    color: #ccc;
}
.show-processes-dialog-app-list-item:hover {
    color: white;
}
.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}
.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}
.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}
.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}
.show-processes-dialog-app-list-item-name {
    font-size: 10pt;
}

/* ===================================================================
 * About Dialog (applet.js and desklet.js)
 * ===================================================================*/
.about-content {
    width: 550px;
    height: 250px;
    spacing: 8px;
    padding-bottom: 16px;
}

.about-title {
    font-size: 2em;
    font-weight: bold;
}

.about-uuid {
    font-size: .8em;
}

.about-icon {
    padding-right: 20px;
}

.about-scrollBox {
    border: solid 1px grey;
    border-radius: 4px;
}

.about-scrollBox-innerBox {
    padding: 1.2em;
    spacing: 1.2em;
}

.about-description {
    padding-top: 4px;
}

.about-version {
    padding-left: 7px;
}


/*  
  magnify.css  
*/
.magnifier-zoom-region {
  background: rgba(21,21,21,.95);
  border: 1px solid #000;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
  border-radius: 2px;
  padding:0;
}
.magnifier-zoom-region.full-screen {
    border-width:0;
}

/*  
  modal-dialog.css  
*/
/*desktop darken*/
.lightbox {
  background-color: rgba(0,0,0,.2);
}

.modal-dialog {
  background: #484848;
  border: 1px solid #2a2a2a;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
  border-radius: 2px;
  padding: 20px;
  padding-bottom:0px;
  font-size: 1em;
  font-weight:bold;
  color: #f3f3f3;
  text-shadow: black 0 0 2px;
}
.modal-dialog-button-box {
  spacing: 20px;
  margin: 5px 0;
  margin-top:30px;
  margin-bottom:5px;
}
.modal-dialog-button {
  border-radius: 2px;
  background-gradient-direction: none;
  background: rgba(255,255,255,.1);
  border: 1px solid #2a2a2a;
  background:rgba(255,255,255,.1);
  padding: 5px 30px;
  color:#f3f3f3;
  font-weight:normal;
}
.modal-dialog-button:disabled {
  color:rgba(255,255,255,.5)
}
.modal-dialog-button:hover,
.modal-dialog-button:active,
.modal-dialog-button:pressed {
  background-gradient-direction: none;
  background: rgba(255,255,255,.2);
}

/*  
  panel.css  
*/
#panel {
  color: #f3f3f3;
  text-shadow:none;
  background-color: #484848;
  font-size: 1em;
  font-weight: bold;
  height: 24px;
  width: 24px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}
#panel:highlight {
  background-color: #797979;
  border-radius:2px;
  border:1px solid rgba(255,255,255,.4);
}
.panel-dummy {
  border-radius:2px;
  border:1px solid rgba(255,255,255,.4);
  background-color: rgba(255,255,255,.1);
}
.panel-dummy:entered {
    background-color: rgba(255,35,35,.4);
}
.panelLeft:dnd {
  border-radius:2px;
  border:1px solid rgba(255,255,255,.4);
  background-color: rgba(255,255,255,.1);
}
.panelCenter:dnd {
  border-radius:2px;
  border:1px solid rgba(255,255,255,.4);
  background-color: rgba(255,255,255,.1);
}
.panelRight:dnd {
  border-radius:2px;
  border:1px solid rgba(255,255,255,.4);
  background-color: rgba(255,255,255,.1);
}
.panelLeft,
.panelCenter,
.panelRight,
.panelLeft:ltr,
.panelLeft:rtl,
.panelRight:ltr,
.panelRight:rtl,
.panelLeft.vertical,
.panelRight.vertical,
.panelCenter.vertical,
.panelLeft.vertical:dnd,
.panelCenter.vertical:dnd,
.panelRight.vertical:dnd {
  margin:0;
  padding:0;
  spacing:0;
}
.panel-top {
  margin:0;
  padding:0;
  border:1px solid #2a2a2a;
  border-left:0;
  border-right:0;
  border-top:0;
}
.panel-bottom {
  margin:0;
  padding:0;
  border:1px solid #2a2a2a;
  border-left:0;
  border-right:0;
  border-bottom:0;
}
.panel-left {
  margin:0;
  padding:0;
  border:1px solid #2a2a2a;
  border-left:0;
  border-top:0;
  border-bottom:0;
}
.panel-right {
  margin:0;
  padding:0;
  border:1px solid #2a2a2a;
  border-right:0;
  border-top:0;
  border-bottom:0;
}
.panel-status-button,
.panel-status-button:hover {
  border:0;
  margin:0;
  padding:0;
  spacing:0;
  -natural-hpadding: 0;
  -minimum-hpadding: 0;
  color: #f3f3f3;
}

.system-status-icon {
  padding: 0;
  spacing: 0;
  margin: 1px 2px;
  color:#f3f3f3;
  icon-size:16px;
}
.vertical .system-status-icon {
  margin: 2px 1px;
}
.system-status-icon.warning {
  color: #de9d45;
}
.system-status-icon.error {
  color: #dc5050;
}
.panel-corner,
.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus,
.panel-button #appMenuIcon,
.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon,
.panel-button,
.panel-button:hover,
.panel-button:active,
.panel-button:overview,
.panel-button:focus,
.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon,
.panel-menu{
  padding:0;
  margin:0;
  spacing:0;
  background:transparent;
  text-shadow:none;
  color:transparent;
}

/*  
  popupmenu.css  
*/
.popup-menu-boxpointer {
  -arrow-border-radius: 8px;
  -arrow-background-color: rgba(80,255,80,.9);
  -arrow-border-width: 2px;
  -arrow-border-color: #ff00ff;
  -arrow-base: 24px;
  -arrow-rise: 11px;
}
.popup-menu,
.menu {
  margin:2px;
  border-radius: 2px;
  color: #333333;
  background-color: #f0f0f0;
  border:1px solid #3b3b3b;
  font-size: 1em;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
  min-width: 100px;
}
.popup-menu-arrow {
  icon-size: 16px;
}
.popup-submenu-menu-item {
  margin-top:3px;
}
.popup-submenu-menu-item:open {
  border-radius:3px;
  background-color: #767676;
  color:#ffffff;
}
.popup-sub-menu {
  margin:5px;
  padding:5px;
  border: 1px solid rgba(0,0,0,.35);
  background: rgba(255,255,255,1);
  background-gradient-direction: none;
  border-radius:3px;
}
.popup-sub-menu .popup-menu-item:ltr {
  padding-right: 1.75em;
}
.popup-sub-menu .popup-menu-item:rtl {
  padding-left: 1.75em;
}


/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
	margin: 0px .4em;
  padding: 1em 0em;
}
.popup-menu-item {
  padding: .4em 1.75em;
  spacing: 1em;
}
.popup-menu-item:active {
  border-radius:3px;
  background-color: #767676;
  color:#ffffff;
}
.popup-menu-item:insensitive {
  color: rgba(20,20,20,.5);
}
.popup-inactive-menu-item {
  font-weight: normal;
  color: rgba(20,20,20,.5);
}
.popup-image-menu-item {
}
.popup-combobox-item {
    spacing: 1em;
}
.popup-separator-menu-item {
  -gradient-height: 1px;
  -gradient-start: rgba(0,0,0,.5);
  -gradient-end: rgba(0,0,0,.5);
  -margin-horizontal: 0;
  height: 1px;
}
.popup-alternating-menu-item:alternate {
  font-weight: bold;
}
.popup-slider-menu-item {
  height: 1em;
  min-width:15em;
  color:#8a8a8a;
  -slider-height: 1em;
  -slider-background-color: rgba(0,0,0,.2);
  -slider-border-color: rgba(0,0,0,.6);
  -slider-active-background-color: #8a8a8a;
  -slider-active-border-color: rgba(0,0,0,.6);
  -slider-border-width: 0px;
  -slider-handle-radius: 0.5em;
}
.popup-device-menu-item {
  spacing: .5em;
}
.popup-subtitle-menu-item {
  font-weight: bold;
}
.popup-menu-item-dot {
  color:#f3f3f3;
}
.popup-menu-icon {
  icon-size: 16px;
}
/* Switches (to be used in menus) */
.toggle-switch {
  height:16px;
  width:16px;
}
.toggle-switch-intl,
.toggle-switch-us {
  background-image: url("theme/images/checkbox.svg");
}
.toggle-switch-intl:checked,
.toggle-switch-us:checked {
  background-image: url("theme/images/checkbox_checked.svg");
}
.nm-menu-item-icons {
  spacing: .5em;
}

.popup-menu StScrollBar StBin#trough,
.menu StScrollBar StBin#trough {
  background-color: rgba(0,0,0,.05);
  border: 1px solid rgba(0,0,0,.35);
  border-radius: 2px;
  padding:2px;
}

.popup-menu StScrollBar StButton#vhandle,
.popup-menu StScrollBar StButton#hhandle,
.popup-menu StScrollBar StButton#hhandle:hover,
.popup-menu StScrollBar StButton#vhandle:hover,
.menu StScrollBar StButton#vhandle,
.menu StScrollBar StButton#hhandle,
.menu StScrollBar StButton#hhandle:hover,
.menu StScrollBar StButton#vhandle:hover {
  background-color: #767676;
  border-radius: 2px;
  margin:3px;
}

/* UNSURE
.popup-sub-menu StScrollBar {
    padding: 4px;
}
.popup-sub-menu StScrollBar StBin#trough {
    border-width: 0px;
}
.popup-sub-menu StScrollBar StBin#vhandle {
    background-color: #4c4c4c;
    border-width: 0px;
}
.popup-combo-menu {
    background-color: rgba(0,0,0,0.9);
    padding: 1em 0em;
    color: #ffffff;
    font-size: 10.5pt;
    border: 1px solid #5f5f5f;
    border-radius: 9px;
}
*/

/*  
  run-dialog.css  
*/
/* inherits modal dialog!*/
.run-dialog {
  background: #484848;
  border: 1px solid #2a2a2a;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
  border-radius: 2px;
  padding: 15px;
  font-size: 1em;
  font-weight:bold;
  color: #f3f3f3;
  text-align:center;
}
.run-dialog-label {
  text-align:center;
  font-size:1em;
  color: #f3f3f3;
  margin:5px 0;
}
.run-dialog-error-label {
  font-weight:bold;
  color: #333;
  text-shadow: #dc7979 0 1px;
  margin:5px;
}
.run-dialog-error-icon {
  margin:5px;
}
.run-dialog-error-box {
  margin:5px 0;
  border-radius: 2px;
  border: 1px solid #4c1c1c;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,.15);
  background: #dc5050;
  background-gradient-direction: vertical;
  background-gradient-start: #dc5151;
  background-gradient-end: #c84a4a;
}
.run-dialog-completion-box {
  border:1px solid #2a2a2a;
  font-size: .95em;
  background: rgba(0,0,0,.2);
}
.run-dialog-entry {
  font-size: 1em;
  font-weight: bold;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  background: rgba(0,0,0,.1);
  background-gradient-direction: none;
  caret-color: #f3f3f3;
  caret-size: 2px;
  box-shadow:0 0 0 0 transparent;
  min-width: 300px;
  margin:5px 0;
  padding:5px 0;
  color: #f3f3f3;
  selection-background-color: #797979;
  selected-color: #fff;
}

/*  
  tooltip.css  
*/
#Tooltip {
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  border: 1px solid #000;
  background:#454545;
  color: #f3f3f3;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  padding:3px;
  margin:2px;
}

/*  
  windowview.css  
*/
.workspace-overview-background-shade {
  background: rgba(0,0,0,.3)
}

.window-border {
  border-radius:2px;
  border:1px solid #797979;
  background-color: rgba(48,48,48,.3);
}

.window-border:not(:hover) {
  border-radius:2px;
  border:1px solid #797979;
  background-color: rgba(48,48,48,.3);
}

.window-close {
  background-image: url("theme/images/close-button.svg");
  height: 48px;
  width: 48px;
  -cinnamon-close-overlap: 24px;
}
.window-caption {
  background: transparent;
  border: 0;
  border-radius: 0;
  font-size: 0;
  padding: 2px 8px;
  -cinnamon-caption-spacing: 0;
}
.window-caption StIcon {
  icon-size:0;
  height:0;
  background: transparent;
  border: 0px;
}

/*  
  calendar@cinnamon.org.css  
*/
.calendar-background {
}
.datemenu-date-label {
  padding: .4em 1.75em;
  font-size: 1em;
  text-align: center;
  color: #f3f3f3;
  background:rgba(0,0,0,0.9);
  font-weight: bold;
  border-radius: 2px;
  border-radius-bottomleft: 0;
  border-radius-bottomright: 0;
  border: 1px solid #000000;
}
.calendar {
  background:rgba(0,0,0,0.8);
  border: 1px solid #000000;
  border-radius: 2px;
  border-radius-topleft: 0;
  border-radius-topright: 0;
  border-top:0;
  font-size: 1em;
  color: #f3f3f3;
  text-shadow: black 0 0 2px;
  padding: 0;
  spacing-rows: 0;
  spacing-columns: 0;
}
.calendar-month-label {
  color: rgba(255,255,255,0.5);
  font-size: 0.85;
  padding: 5px;
  font-weight: bold;
}
.calendar-change-month-back,
.calendar-change-month-forward:rtl {
  width: 16px;
  height: 16px;
  background-image: url("theme/images/arrow_left.svg");
  border-radius: 0;
}
.calendar-change-month-back:hover,
.calendar-change-month-back:active {
  background-color: transparent;
}
.calendar-change-month-forward,
.calendar-change-month-back:rtl {
  width: 16px;
  height: 16px;
  background-image: url("theme/images/arrow_right.svg");
  border-radius: 0;
}
.calendar-change-month-forward:hover,
.calendar-change-month-forward:active {
  background-color: transparent;
}
.calendar-day-base {
  background:transparent;
  text-align: center;
  width: 3em;
  height: 3em;
}
.calendar-day-base:active {
  border-radius:1.5em;
  background-color: #797979;
}
.calendar-day-heading {
  text-align: center;
  font-weight: bold;
  color: rgba(255,255,255,0.5);
}
.calendar-week-number {
  text-align: center;
  font-weight: bold;
  color: rgba(255,255,255,0.5);
}
.calendar-work-day {
}
.calendar-nonwork-day {
  color: rgba(255,255,255,0.5);
}
.calendar-today {
  text-shadow: black 0px 2px 2px;
  color: #f3f3f3;
  font-weight: bold;
}
.calendar-other-month-day{
  color: rgba(255,255,255,0.2);
}
.calendar-day-with-events{
  font-weight: bold;
  color: #797979;
}

/*  
  grouped-window-list@cinnamon.org.css  
*/
.grouped-window-list-number-label {
  z-index: 99;
  text-shadow: black 1px 0px 2px;
  color:#f3f3f3;
  padding: 0;
}
.grouped-window-list-badge {
  border-radius: 1em;
  background-color: rgba(0,0,0,.8);
}
.grouped-window-list-button-label {
    margin:0 5px;
}
.grouped-window-list-thumbnail-alert {
  background: rgba(87,62,27,.2);
}
.grouped-window-list-item-box {
  color:rgba(250,250,250,.5);
  spacing: 0;
  padding: 0;
  margin:0;
}
.grouped-window-list-item-box #appMenuIcon,
.grouped-window-list-item-box StIcon{
  margin:0px;
  padding:0px;
}

.grouped-window-list-item-box{
  color:rbga(250,250,250,.5);
  background:none;
  border:1px solid transparent;
}

.grouped-window-list-item-box:focus {
  color:#f3f3f3;
  border-radius:2px;
  border:1px solid rgba(0,0,0,.35);
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0,0,0,.2);
  background-gradient-end: rgba(0,0,0,.05);
  box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,.35);
}

.grouped-window-list-item-demands-attention {
  background-gradient-direction: none;
  background:#dc5050;
}

.grouped-window-list-item-box .progress {
  background-gradient-direction: none;
  background: rgba(255,255,255,.05);
  border-radius: 0 0 0 0;
}

.grouped-window-list-thumbnail-label {
  margin: 4px;
  text-align:center;
  font-weight:bold;
}
.grouped-window-list-thumbnail-menu {
  background: rgba(21,21,21,0.95);
  border: 1px solid #000000;
  border-radius: 2px;
}
.grouped-window-list-thumbnail-menu .item-box {
  margin:5px;
  padding: 10px;
  border-radius: 2px;
  spacing: 4px;
}
.grouped-window-list-thumbnail-menu .item-box:outlined {
  padding: 6px;
  border: 2px solid rgba(165, 165, 165, .7)
}
.grouped-window-list-thumbnail-menu .item-box:selected {
  background: rgba(255,255,255,.2);
}
.grouped-window-list-thumbnail-menu .thumbnail {
  width: 256px;
}
.grouped-window-list-thumbnail-menu .separator {
  width: 1px;
  background: rgba(0,0,0,.5);
}


/*  
  menu@cinnamon.org.css  
*/
.menu-background {
}
.menu-favorites-box{
  margin-top:40px;
}
.menu-search-box,
.menu-search-box:ltr,
.menu-search-box:rtl {
  height:40px;
  padding: 0;
}
.menu-favorites-box,
.menu-places-box {
  border: 1px solid rgba(0,0,0,0.35);
  border-radius: 2px;
  background-gradient-direction: none;
  background: rgba(255,255,255,1);
  transition-duration: 0;
}
.menu-favorites-button,
.menu-places-button {
  margin:5px;
  padding:5px;
  border-radius:3px;
}
.menu-favorites-button:hover,
.menu-places-button:hover {
  border-radius:3px;
  background-color: #767676;
  color:#ffffff;
}
.menu-categories-box{
  border: 0;
  background: transparent;
  padding:5px 40px;
}
.menu-category-button {
  font-weight:bold;
  padding:5px;
  margin:5px 0;
}
.menu-category-button-greyed {
  font-weight:bold;
  padding:5px;
  margin:5px 0;
  color: rgba(255,255,255,0.5);
}
.menu-category-button-selected {
  font-weight:bold;
  padding:5px;
  margin:5px 0;
  border-radius:3px;
  background-color: #767676;
  color:#ffffff;
}
.menu-category-button-label:ltr {
  padding-left: 10px;
}
.menu-category-button-label:rtl {
  padding-right: 10px;
}
.menu-category-button-selected:hover {
}
.menu-applications-inner-box {
  border: 1px solid rgba(0,0,0,0.35);
  border-radius: 2px;
  background: rgba(255,255,255,1);
  margin:0 3px;
  padding: 5px;
}
.menu-applications-outer-box {
  background:transparent;
  padding:0;
  margin:0;
}
.menu-application-button,
.menu-application-button:highlighted {
  background:transparent;
  padding:5px;
}
.menu-application-button-selected,
.menu-application-button-selected:highlighted {
  border-radius:3px;
  background-color: #767676;
  color:#ffffff;
  padding:5px;
}
.menu-application-button-label:ltr{
  padding-left:5px;
}
.menu-application-button-label:rtl {
  padding-right:5px;
}
.menu-selected-app-box {
  padding-right: 30px;
  padding-left: 28px;
  text-align: right;
  height: 30px;
}
.menu-selected-app-box:rtl {
  padding-top: 10px;
  height: 30px;
}
.menu-selected-app-title {
  font-weight: bold;
}
.menu-selected-app-description {
  max-width: 150px;
}
#menu-search-entry {
  border: 1px solid rgba(0,0,0,0.35);
  border-radius: 2px;
  background: rgba(255,255,255,1);
  background-gradient-direction: none;
  color: #333333;
  selected-color: #f3f3f3;
  selection-background-color:#767676;
  caret-color: #333333;
  caret-size: 2px;
  box-shadow:0 0 0 0 transparent;
  min-width: 300px;
  padding: 2px;
  margin: 5px;
  transition-duration: 0;
}
.menu-search-entry-icon {
    icon-size: 16px;
    margin:0 5px;
    color: #333333;
}
.menu-context-menu {
  margin:5px;
  padding:5px;
  border: 1px solid rgba(0,0,0,0.35);
  background: rgba(255,255,255,.1);
  background-gradient-direction: none;
  border-radius:3px;
}

/*  
  notifications@cinnamon.org.css  
*/
.notification-applet-padding {
  padding: .5em 1em;
}

.notification-applet-container {
  max-height: 100px;
}

#notification {
  background: rgba(21,21,21,0.95);
  border: 1px solid #000000;
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.6);
  border-radius: 2px;
  padding: 20px;
  font-size: 1em;
  color: #f3f3f3;
  text-shadow: black 0 0 2px;
  spacing-rows: 10px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 10px;
  width: 32em;
}
#notification.multi-line-notification {
  padding-bottom: 8px;
  color: #f3f3f3;
}
/* We use row-span = 2 for the image cell, which prevents its height preferences to be
taken into account during allocation, so its height ends up being limited by the height
of the content in the other rows. To avoid showing a stretched image, we set the minimum
height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
  min-height: 159px;
  color: #f3f3f3;
}
#notification-scrollview {
  max-height: 10em;
}
#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
  height: 1em;
}
#notification-scrollview:ltr > StScrollBar {
  padding-left: 6px;
}
#notification-scrollview:rtl > StScrollBar {
  padding-right: 6px;
}
#notification-body {
  spacing: 5px;
}
#notification-actions {
  spacing: 10px;
}
.notification-button,
.notification-button:hover,
.notification-button:focus,
.notification-icon-button,
.notification-icon-button:hover,
.notification-icon-button:focus {
  border-radius: 2px;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.1);
  background-gradient-end: rgba(255,255,255,.1);
  border:1px solid #000000;
  background:rgba(255,255,255,.1);
  padding: 4px 8px 5px;
}

.notification-button:hover,
.notification-button:focus,
.notification-icon-button:hover,
.notification-icon-button:focus {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.3);
  background-gradient-end: rgba(255,255,255,.3);
}

.notification-icon-button > StIcon {
  icon-size: 22px;
}

/*  
  on-screen-keyboard@cinnamon.org.css  
*/
#keyboard {
  border-top:1px solid #000000;
  border-bottom:1px solid #000000;
  background-color: #454545;
}
.keyboard-layout {
  spacing: 10px;
  padding: 10px;
}
.keyboard-row {
  spacing: 0px;
}
.keyboard-key {
  min-height: 20px;
  min-width: 20px;
  background-gradient-start: rgba(65,65,65,0.8);
  background-gradient-end: rgba(45,45,45,0.6);
  background-gradient-direction: vertical;
  font-size: 2em;
  font-family: Noto Sans Mono;
  font-weight: bold;
  border-radius: 0px;
  border: 1px solid rgba(0,0,0,0.35);
  border-right:0;
  color: #f3f3f3;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.35);
}
.keyboard-key:first-child {
  border-radius-topleft: 2px;
  border-radius-bottomleft: 2px;
}
.keyboard-key:last-child {
  border-radius-topright: 2px;
  border-radius-bottomright: 2px;
  border-right: 1px solid rgba(0,0,0,.35);
}
.keyboard-key:first-child:last-child  {
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.35);
}
.keyboard-key:grayed {
  color: rgba(95,95,95,0.5);
  background: rgba(35,35,35,1);
  background-gradient-direction: none;
  border: 1px solid #000000;
  box-shadow: none;
}
.keyboard-key:checked,
.keyboard-key:active{
  color: #797979;
  background-gradient-start: rgba(40,40,40,1);
  background-gradient-end: rgba(45,45,45,1);
  box-shadow: 0px 1px 0px 0px rgba(75,75,75,1);
  border: 1px solid #000000;
}
.keyboard-key:checked {
}
.keyboard-subkeys {
  color: white;
  padding: 5px;
  -arrow-border-radius: 3px;
  -arrow-background-color: #353535;
  -arrow-border-width: 1px;
  -arrow-border-color: #000000;
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 5px;
}


/*  
  panel-launchers@cinnamon.org.css  
*/
.panel-launchers {
  padding: 0 5px;
  spacing: 2px;
}

.panel-launchers.vertical {
  padding: 5px 0;
  spacing: 2px;
}

.launcher {
  padding: 0;
  border: 0;
  transition-duration: 0;
}
.launcher .icon-box,
.panel-launchers.vertical .launcher .icon-box  {
  padding: 2px;
}
.panel-launchers .launcher:hover {
}

/*  
  sound@cinnamon.org.css  
*/
StBoxLayout.applet-box.sound-cinnamon-org-applet {
  padding:0;
}

StBoxLayout.applet-box.sound-cinnamon-org-applet StIcon{
  icon-size:16px;
}

StBoxLayout.applet-box.sound-cinnamon-org-applet StLabel{
  border:1px solid rgba(0,0,0,.8);
  background-color:rgba(0,0,0,.2);
  border-radius:2px;
  color:rgba(255,255,255,.8);
  padding:1px 5px;
  margin:0px;
  font-size:80%;
  text-shadow:0 1px 0 #000;
  font-weight:normal;
}

.sound-player {
  margin-top:5px;
  background:rgba(0,0,0,.6);
  border-radius: 2px;
  border: 1px solid #000;
  color: rgba(255,255,255,.8);
}

.sound-player .slider {
  border-top:1px solid #2a2a2a;
  height: 1em;
  -slider-height: 0.5em;
  -slider-background-color: #cccccc;
  -slider-border-color: rgba(0,0,0,0);
  -slider-active-background-color: #ee0f0f;
  -slider-active-border-color: rgba(0,0,0,0);
  -slider-border-width: 0px;
  -slider-handle-radius: 0px;
}

.sound-player StBoxLayout {
  spacing: 0.5em;
}

.sound-player>StBoxLayout {
  padding: 0 16px 8px;
}

.sound-player-overlay {
  width: 300px;
  padding: 12px 16px;
  spacing: 0.5em;
  background-color: rgba(0,0,0,.8);
  color: #ffffff;
  border-top: 1px solid rgba(0,0,0,.95);
}

.sound-player-overlay StButton {
  border-radius: 2px;
  background:rgba(255,255,255,.3);
  background-gradient-direction: none;
  border:1px solid #000000;
  color: #ffffff;
  padding: 4px 8px 5px;
}
.sound-player-overlay StButton:hover,
.sound-player-overlay StButton:focus {
  background-gradient-direction: none;
  background: rgba(255,255,255,.4);
}

.sound-player-overlay StButton > StIcon {
    icon-size: 16px;
}

.sound-player-overlay StBoxLayout {
  padding-top: 2px;
}

.sound-player-generic-coverart {
  background: rgba(0,0,0,0.2);
}

/*UNSURE
.sound-player StButton {
    min-width: 16px;
    min-height: 16px;
    padding:5px 10px;
    color: #aaa;
}

.sound-player StButton:small {
    width: 16px;
    height: 16px;
}

.sound-player StButton:small StIcon {
    icon-size: 16px;
}

.sound-player StButton StIcon {
    icon-size: 16px;
}

.sound-player StButton:hover, .sound-player StButton:active {
  color: #fff;
}
* */

/*  
  systray@cinnamon.org.css  
*/
.systray{
  padding: 0;
  spacing: 0;
  margin: 1px 2px;
  color:#f3f3f3;
  icon-size:16px;
}

.vertical .systray{
  margin: 2px 1px;
}

/*  
  user@cinnamon.org.css  
*/
.user-box {
  padding: .4em 1.75em;
  spacing: 6px;
}

.user-icon {
  border-radius: 3px;
  background:rgba(0,0,0,0.4);
  border: 1px solid rgba(0,0,0,0.8);
}

.user-label {
  color: #333;
  font-size: 2em;
  font-weight:bold;
  margin: 6px;
}


/*  
  window-list@cinnamon.org.css  
*/
.window-list-box {
  spacing: 2px;
  margin:0 10px;
  padding:0;
}
.window-list-box.vertical {
  spacing: 3px;
  margin:10px 0;
  padding:0;
}

.window-list-item-box.top #appMenuIcon,
.window-list-item-box.top StIcon,
.window-list-item-box.bottom #appMenuIcon,
.window-list-item-box.bottom StIcon {
  margin:0;
  padding:0;
  icon-size:0px;
  height:0;
  width:0;
}
.window-list-item-box,
.window-list-item-box.top,
.window-list-item-box.left,
.window-list-item-box.right,
.window-list-item-box.bottom  {
  color: rgba(250,250,250,.5);
  background-gradient-direction: none;
  background: transparent;
  box-shadow: inset 0 0 0 1 transparent;
  border:1px solid transparent;
  transition-duration: 0;
  spacing: 0.5em;
  padding: 0 .5em;
}

.window-list-item-box.left,
.window-list-item-box.right {
  padding: .5em 0;
}
.window-list-item-box:hover,
.window-list-item-box:focus {
  color:#f3f3f3;
}
.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus {
  border-radius: 0 0 0 0;
  background-gradient-direction: none;
  background: rgba(0,0,0,.2);
  box-shadow: inset 0 5px 20px -15px rgba(0,0,0,0.75);
  border:1px solid #2a2a2a;
  border-top:0;
  border-bottom:0;
}

.window-list-item-box.left:active,
.window-list-item-box.left:checked,
.window-list-item-box.left:focus,
.window-list-item-box.right:active,
.window-list-item-box.right:checked,
.window-list-item-box.right:focus {
  border:1px solid #2a2a2a;
  border-left:0;
  border-right:0;
}
.window-list-item-demands-attention {
  background-gradient-direction: none;
  background:#dc5050;
}
.window-list-item-box .progress {
  background-gradient-direction: none;
  background: rgba(255,255,255,.05);
  border-radius: 0 0 0 0;
}
.window-list-preview {
  background: rgba(21,21,21,0.95);
  border: 1px solid #000000;
  box-shadow: 0 0 20px 4px rgba(0,0,0,1);
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  color: #f3f3f3;
  text-shadow: black 0 0 2px;
}

/*  
  workspace-switcher@cinnamon.org.css  
*/
.panel-top .workspace-switcher,
.panel-bottom .workspace-switcher,
.panel-top .workspace-graph,
.panel-bottom .workspace-graph {
  padding: 0 3px;
  margin:2px;
}
.panel-left .workspace-switcher,
.panel-right .workspace-switcher,
.panel-left .workspace-graph,
.panel-right .workspace-graph {
  padding:3px 0;
  margin:2px;
}

.workspace-button,
.workspace-graph .workspace {
  color:rgba(255,255,255,.5);
  font-weight:bold;
  background:rgba(0,0,0,.2);
  border: 1px solid #2a2a2a;
  border-right:0;
  border-radius:0;
  padding: 0 8px;
  transition:none;
}
.workspace-button:first-child,
.workspace-graph .workspace:first-child {
  border-radius:2px 0 0 2px;
  border-left:1px;
  border-right:0;
}
.workspace-button:last-child,
.workspace-graph .workspace:last-child {
  border-radius:0 2px 2px 0;
  border-left:1px;
  border-right:1px;
}

.vertical .workspace-button,
.vertical .workspace-graph .workspace {
  color:rgba(255,255,255,.5);
  font-weight:bold;
  background:rgba(0,0,0,.2);
  border: 1px solid #2a2a2a;
  border-bottom:0;
  border-radius:0;
  padding: 8px 0;
  transition:none;
}
.vertical .workspace-button:first-child,
.vertical .workspace-graph .workspace:first-child {
  border-radius:2px 2px 0 0;
  border-top:1px;
  border-bottom:0;
}
.vertical .workspace-button:last-child,
.vertical .workspace-graph .workspace:last-child {
  border-radius:0 0 2px 2px;
  border-top:1px;
  border-bottom:1px;
}

.workspace-button:outlined,
.workspace-graph .workspace:active {
  background: #797979;
  color: #fff;
}

.workspace-graph .workspace .windows {
  -active-window-background: rgba(140,140,140,1);
  -active-window-border: rgba(0,0,0,.7);
  -inactive-window-background: rgba(140,140,140,1);
  -inactive-window-border: rgba(0,0,0,.7);
}

.workspace-graph .workspace:active .windows {
  -active-window-background: rgba(255,255,255,1);
  -active-window-border: rgba(0,0,0,.9);
  -inactive-window-background: rgba(140,140,140,1);
  -inactive-window-border: rgba(0,0,0,.7);
}

.workspace-osd {
  padding:5px;
  font-size: 5em;
  font-weight:bold;
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,0.6);
  padding:5px 20px;
  background: rgba(21,21,21,0.95);
  border: 1px solid #000000;
  border-radius:3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
}

/*  
  x-CinnVIIStarkMenu@NikoKrause.css  
*/
.starkmenu-applications-inner-box{
  background:rgba(255,255,255,1);
  border-top:0;
  border-radius-topleft:0;
  border-radius-topright:0;
}

/*  
  x-SpicesUpdate@claudiux.css  
*/
.SU-number-label {
  z-index: 99;
  text-shadow:none;
  font-weight:bold;
  background:transparent;
  padding:0px;
}
.SU-badge {
  text-shadow:none;
  margin-top: 6px;
  background:#de9d45;
  padding:0px;
}
.SU-notification-applet-container {
  max-height: 500px;
}

/*  
  x-weather@mockturtl.css  
*/
.popup-menu-content.weather-menu {
  padding-bottom: 0em;
  padding-top: 0em;
}
.weather-current-location-link {
  text-align: center;
}
.weather-current-summarybox {
  padding-top: 5px;
}
.weather-current-summary {
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.weather-current-databox {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
.weather-current-icon {
  padding: 0 30px;
}
.weather-current-iconbox {
  padding: 10px;
}
.weather-icon {
  padding-right: 5px;
}
.weather-icon-rtl {
  padding-left: 5px;
}
.weather-current-databox-captions {
  text-align: right;
  padding-right: 5px;
  color: #999999;
}
.weather-current-astronomy {
  color: #AAAAAA;
}
.weather-forecast-icon {
  padding: 0 10px 10px 15px;
}
.weather-forecast-databox {
  padding: 0 20px 10px 0;
}
.weather-forecast-container {
  margin: 10px 10px 0px 10px;
}
.weather-forecast-day {
  color: #999999;
  font-size: 90%;
}
.weather-config {
  padding-right: 10px;
}
.bottombar {
  padding: 7px 10px 7px 10px;
}
.hourly-time {
  color: #999999;
  font-size: 90%;
  text-align: center;
}
.hourly-data {
  text-align: center;
  padding: 0px 5px;
}
.hourly-box {
  margin: 10px 10px 5px 10px;
}
.hourly-icon {
  padding: 5px 20px 5px 20px;
}
.location-selector {
  margin-right: 5px;
  margin-left: 5px;
}

/*  
  clock@cinnamon.org.css  
*/
.clock-desklet-label {
  font-family:monospace;
  font-weight:bold;
}

/*  
  photoframe@cinnamon.org.css  
*/
.photoframe-box {
	padding: 3px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.6);
  border-radius:3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
}


/*  
  x-bbcwx@oak-wood.co.uk.css  
*/
.bbcwx-link {
  padding: 2px 5px;
  text-decoration: none;
  color:rgba(255,255,255,0.5);
}
.bbcwx-link:hover {
  text-decoration: underline;
  color:#f3f3f3;
}

/*  
  x-calculator@scollins.css  
*/
.calc-button,
.calc-mainBox.light .calc-button {
  background-color:rgba(0,0,0,0.6);
  border:1px solid rgba(0,0,0,0.8);
  color:#fff;
  height:32px;
  width:48px;
}

.calc-button:hover,.calc-mainBox.light .calc-button:hover {
  background-color:rgba(255,255,255,.1);
}

.calc-button:active,.calc-mainBox.light .calc-button:active {
  background-color:rgba(255,255,255,.2);
}

.calc-button-padding {
  padding:4px;
}

.calc-displayArea {
  padding:5px;
}

.calc-displayWindow,.calc-mainBox.light .calc-displayWindow {
  background-color:rgba(0,0,0,0.6);
  border:1px solid rgba(0,0,0,0.8);
  border-radius:2px;
  height:50px;
  padding:5px;
}

.calc-displayWindow-rpn,.calc-mainBox.light .calc-displayWindow-rpn {
  background-color:rgba(0,0,0,0.6);
  border:1px solid rgba(0,0,0,0.8);
  border-radius:2px;
  padding:10px;
}

.calc-displayText-primary {
  color:#f3f3f3;
  font:1,2em monospace;
  text-align:right;
}

.calc-displayText-secondary {
  color:#ccc;
  font:1em monospace;
 text-align:right;
}

.calc-displayText-rpn {
  color:#f3f3f3;
  font-family:monospace;
}

.calc-stackArea {
  height:85px;
  padding-top:8px;
}

.calc-navigation-box {
  padding:0 0 0 8px;
  width:22px;
}

.calc-navigation-icon {
  color:#ccc;
  icon-size:22px;
}

.calc-navigation-button {
  border:0;
  border-radius:0;
}

.desklet .calc-mainBox,
.desklet .calc-mainBox.light,
.desklet-with-borders .calc-mainBox,
.desklet-with-borders .calc-mainBox.light
.desklet-with-borders-and-header .calc-mainBox,
.desklet-with-borders-and-header .calc-mainBox.light {
  background-color:rgba(0,0,0,0);
}

.calc-displayText-operation,.calc-displayText-status {
  color:#ccc;
  font:.7em monospace;
}

/*  
  x-clockTow@armandobs14.css  
*/
.clock-container{
  text-align:center;
  color:#f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,0.6);
}
.hour-container{
}
.date-container{
  font-size:1em;
  font-weight:bold;
  padding:0px 5px;
  text-align:center;
}
.clock-hour-label{
  font-size: 5em;
}
.clock-min-label{
  font-size: 2,5em;
}
.clock-sec-label{
  font-size: 1em;
}
.clock-date-label{
}

/*  
  x-devTools@scollins.css  
*/
.devtools-mainBox {
  font-size: 1em;
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  padding: 3px;
  border: 1px solid rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.6);
  border-radius:3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}

.devtools-panel {

}

.devtools-button {
  padding: 3px;
  border-radius: 2px;
  background:transparent;
  background-gradient-direction: none;
  border:1px solid transparent;
  box-shadow:none;
  color: #f3f3f3;
  font-weight:bold;
  text-shadow:0 0 0 #000;
}

.devtools-button:hover,
.devtools-button:active {
  border-radius: 2px;
  border:1px solid #000000;
  box-shadow:none;
  background-gradient-direction: none;
  background: rgba(255,255,255,.3);
}

.devtools-indented {
  padding-left: 20px;
}

.devtools-contentButton {
  border-radius: 2px;
  background:rgba(255,255,255,.2);
  background-gradient-direction: none;
  border:1px solid #000000;
  box-shadow:none;
  color: #f3f3f3;
  padding:2px 20px;
  font-weight:bold;
  text-shadow:0 0 0 #000;
}

.devtools-contentButton:hover {
  border:1px solid #000000;
  box-shadow:none;
  background-gradient-direction: none;
  background: rgba(255,255,255,.3);
}

.devtools-checkBox StBin,
.devtools-checkBox:focus StBin {
  width: 16px;
  height: 16px;
  background-image: url("theme/images/checkbox.svg");
}
.devtools-checkBox:checked StBin,
.devtools-checkBox:focus:checked StBin {
  background-image: url("theme/images/checkbox_checked.svg");
}

.devtools-checkBox StLabel {
  font-weight:normal;
  font-size:1em;
}

/*tab*/
.devtools-tab {
  border-radius: 2px;
  background:rgba(255,255,255,.2);
  background-gradient-direction: none;
  border:1px solid #000000;
  box-shadow:none;
  color: #f3f3f3;
  padding:1px 20px;
  font-weight:bold;
  text-shadow:0 0 0 #000;
  width: 80px;
}

.devtools-tab:hover {
  border:1px solid #000000;
  box-shadow:none;
  background-gradient-direction: none;
  background: rgba(255,255,255,.3);
}

.devtools-tab:selected {
  background-gradient-direction: none;
  background: rgba(0,0,0,.3);
  text-decoration:underline;
}

.devtools-tab-scrollButton {
  border-radius: 2px;
  background:rgba(0,0,0,.9);
  background-gradient-direction: none;
  border:1px solid #000000;
}

.devtools-tabPanels {
}

.devtools-tabScroll StBoxLayout {
  padding: 3px;
  spacing: 3px;
}

.devtools-tabScroll StScrollBar,
.devtools-tabScroll StBin#trough,
.devtools-tabScroll StButton#hhandle,
.devtools-tabScroll StButton#hhandle:hover {
  min-height: 0px;
}

/*terminal*/
.devtools-terminal-mainBox {
  spacing: 5px;
  padding: 5px;
}

.devtools-terminal-entry {
  border:1px solid rgba(0,0,0,.9);
  background-color:rgba(0,0,0,.5);
  color: #f3f3f3;
  caret-color: #f3f3f3;
  caret-size: 2px;
  ng: 2px 4px 2px 4px;
  font: 14px Noto Mono, monospace;
}

.devtools-terminal-processesBox {
  spacing: 5px;
  padding: 5px;
}

.devtools-terminal-processBox {
  border:1px solid rgba(0,0,0,.4);
  background-color:rgba(0,0,0,.2);
  padding: 3px;
}

/*extensions*/
.devtools-extensions-mainBox {
  spacing: 5px;
  padding: 5px;
}

.devtools-extensions-container {
  border:1px solid rgba(0,0,0,.4);
  background-color:rgba(0,0,0,.2);
  padding: 3px;
}

.devtools-extensions-title {
  font-weight: bold;
}

.devtools-extensions-icon {
  padding: 0 8px 0 4px;
}

.devtools-extensions-buttonBox {
  padding: 3px 0 3px 0;
  spacing: 7px;
}

.devtools-extensions-instanceBox {
  spacing: 20px;
}

/*windows*/
.devtools-windows-mainBox {
  spacing: 5px;
  padding: 5px;
}

.devtools-windows-windowBox {
  border:1px solid rgba(0,0,0,.4);
  background-color:rgba(0,0,0,.2);
  padding: 3px;
}

.devtools-windows-icon {
  padding: px 8px px 4px;
}

.devtools-windows-buttonBox {
  padding: 3px px 3px px;
  spacing: 7px;
}

/*sandbox*/
.devtools-sandbox-entryText {
  border: solid 1px #000000;
  border-radius: 3px;
  background-color: rgba(255,255,255,.5);
  padding: 5px;
  font: 14px Noto Mono, monospace;
  color: #000000;
  selected-color: #ffffff;
  selection-background-color: #797979;
  caret-color: #000000;
  caret-size: 2px;
}
.devtools-sandbox-entryText StScrollBar {
  min-width: 10px;
}
.devtools-sandbox-entryText StBin#trough {
  background-color: transparent;
}
.devtools-sandbox-entryText StButton#vhandle {
  background-color: rgba(0,0,0,.6);
  border-radius: 2px;
}
.devtools-sandbox-entryText StButton#vhandle:hover {
  background-color: rgba(0,0,0,.6);
}
.devtools-sandbox-buttonBox {
  spacing: 5px;
  padding-right: 5px;
}

.devtools-sandbox-button {
  border-radius: 2px;
  background:rgba(255,255,255,.2);
  background-gradient-direction: none;
  border:1px solid #000000;
  box-shadow:none;
  color: #f3f3f3;
  padding:1px 20px;
  font-weight:bold;
  text-shadow:0 0 0 #000;
}

.devtools-sandbox-button:hover {
  border:1px solid #000000;
  box-shadow:none;
  background-gradient-direction: none;
  background: rgba(255,255,255,.3);
}

.devtools-sandbox-previewer {
  padding: 10px;
  margin-top:5px;
  border: solid 1px #000;
  border-radius:2px;
}

.devtools-sandbox-tabs {
  spacing: 3px;
  padding: 5px;
}

.devtools-sandbox-tab {
  border-radius: 2px;
  background:rgba(255,255,255,.2);
  background-gradient-direction: none;
  border:1px solid #000000;
  box-shadow:none;
  color: #f3f3f3;
  padding:1px 20px;
  font-weight:bold;
  text-shadow:0 0 0 #000;
  width: 80px;
}

.devtools-sandbox-tab:hover {
  border:1px solid #000000;
  box-shadow:none;
  background-gradient-direction: none;
  background: rgba(255,255,255,.3);
}

.devtools-sandbox-tab:selected,
.devtools-sandbox-tab:hover:selected {
  background-gradient-direction: none;
  background: rgba(0,0,0,.3);
  text-decoration:underline;
}
/*log*/
.devtools-log-bottomBox {
  spacing: 5px;
}
/*inspect*/
.devtools-inspect-content {
  spacing: 5px;
}
.devtools-inspect-scrollbox {

}
.devtools-inspect-subtitle {
  font-size: 20px;
  padding-top: 3px;
}

/*  
  x-diskspace@schorschii.css  
*/
.textpercent {
  font-family: Noto Sans, Roboto, sans-serif;
  font-weight: bold;
  text-align: center;
}
.textsub, .textsub2 {
  font-family: monospace;
  text-align: center;
}


/*  
  x-notes@schorschii.css  
*/
.notetext{
  font-family: mikachan-P, Noto Sans, Roboto, sans-serif;
  text-shadow:none;
}

/*  
  x-soundBox@scollins.css  
*/
.mint-mainBox,
.mint-mainBox:compact {
  font-size: 1em;
  color: #f3f3f3;
  text-shadow:0 0 0 #000;
  padding:3px 0;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.6);
  border-radius:3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
}

.mint-mainBox .soundbox-buttonMenu,
.mint-mainBox:compact .soundbox-buttonMenu {
  border-radius: 2px;
  background:rgba(255,255,255,.2);
  background-gradient-direction: none;
  border:1px solid #000000;
  box-shadow:none;
  color: #f3f3f3;
  padding:1px 20px;
  font-weight:bold;
  text-shadow:0 0 0 #000;
}

.mint-mainBox .soundbox-buttonMenu:hover,
.mint-mainBox .soundbox-buttonMenu:active {
  border:1px solid #000000;
  box-shadow:none;
  background-gradient-direction: none;
  background: rgba(255,255,255,.3);
}

.mint-mainBox .soundbox-divider,
.mint-mainBox:compact .soundbox-divider {
  background-color: rgba(0,0,0,0.6);
  border-radius: 0;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
  -margin-horizontal: 0;
  height: 1px;
}

.mint-mainBox .soundbox-divider-box,
.mint-mainBox:compact .soundbox-divider-box {
  color: rgba(0,0,0,0.6);
  padding: 0px 30px 0px 30px;
}

.mint-mainBox .soundbox-text, .mint-mainBox .soundbox-buttonText, .mint-mainBox .soundbox-appTitle, .mint-mainBox .soundbox-playerTitleText, .mint-mainBox .soundbox-trackInfo-text {
  color: #f3f3f3;
  text-shadow:0 0 0 #000;
}

.mint-mainBox .soundbox-volumeBox,
.mint-mainBox .soundbox-appBox, 
.mint-mainBox .soundbox-volumeButton,
.mint-mainBox:compact .soundbox-volumeButton {
  padding: 2px 5px 2px 5px;
}

.mint-mainBox .soundbox-slider {
  -slider-height: 0.5em;
  -slider-background-color: rgba(255,255,255,.1);
  -slider-border-color: #ff00ff;
  -slider-active-height: 0.5em;
  -slider-active-background-color: #999;
  -slider-active-border-color: #ff00ff;
  -slider-border-width: 0;
  -slider-handle-radius: 0.5em;
  -slider-handle-color: #f3f3f3;
  -slider-handle-border-color: #ff00ff;
  min-width:15em;
  padding:0px;
  min-height: 1em;
  border-radius:0.5em;
}

.mint-mainBox .soundbox-volumeIcon,
.mint-mainBox .soundbox-appIcon,
.mint-mainBox .soundbox-trackInfo-icon,
.mint-mainBox .soundbox-soundButton-icon,
.mint-mainBox .soundbox-playerIcon,
.mint-mainBox:compact .soundbox-volumeIcon,
.mint-mainBox:compact .soundbox-appIcon,
.mint-mainBox:compact .soundbox-trackInfo-icon{
  icon-size:16px;
  color: #f3f3f3;
  margin:3px;
  padding:0;
}

.mint-mainBox .soundbox-soundButton-icon {
  margin:0px;
}

.mint-mainBox .soundbox-appTitleBox {
  padding:0 5px;
}

.mint-mainBox .soundbox-titleBar,
.mint-mainBox:compact .soundbox-titleBar {
  color: #f3f3f3;
  font-weight:bold;
  background-color: rgba(255,255,255,0.2);
  background-gradient-direction: none;
  border-image: none;
  border: 1px solid #000000;
  border-left:0;
  border-right:0;
}

.mint-mainBox .soundbox-playerTitle,
.mint-mainBox .soundbox-quitButton,
.mint-mainBox .soundbox-raiseButton {
    color: #f3f3f3;
    padding: 0px 3px;
    text-shadow:0 1px 0 #000;
}

.mint-mainBox .soundbox-playerSelectButton:hover,
.mint-mainBox .soundbox-raiseButton:hover,
.mint-mainBox .soundbox-quitButton:hover {
  background-color: rgba(255,255,255,0.3);
}

.mint-mainBox .soundbox-trackInfoBox,
.mint-mainBox:compact .soundbox-trackInfoBox {
  margin: 0 20px 0 20px;
  width: 200px;
}

.mint-mainBox .soundbox-trackInfo,
.mint-mainBox:compact .soundbox-trackInfo {
  padding: 2px 0 2px 0;

  text-shadow:0 0 0 #ff00ff;
}

.mint-mainBox .soundbox-albumCover-box {
  margin: 5px 20px 5px 20px;
  background: none;
}

.mint-mainBox .soundbox-albumCover {
  border:0;
  icon_size: 200px;
  width: 200px;
  height: 200px;
}

.mint-mainBox .soundbox-timeBox {
  margin-top:6px;
  font-weight:bold;
  text-align:center;
  padding: 0px 0px;
}

.mint-mainBox .soundbox-buttonBox,
.mint-mainBox:compact .soundbox-buttonBox {
  padding: 5px;
}

.mint-mainBox .soundbox-soundButton-box,
.mint-mainBox:compact .soundbox-soundButton-box {
  padding-right: 3px;
  padding-left: 3px;
}

.mint-mainBox .soundbox-soundButton,
.mint-mainBox:compact .soundbox-soundButton {
  width: 22px;
  height: 16px;
  border-radius: 2px;
  background:rgba(255,255,255,.2);
  background-gradient-direction: none;
  border:1px solid #000000;
  box-shadow:none;
  color: #f3f3f3;
  padding:2px;
  font-weight:bold;
  text-shadow:0 0 0 #000;
}

.mint-mainBox .soundbox-soundButton:hover,
.mint-mainBox .soundbox-soundButton:active {
  border:1px solid #000000;
  box-shadow:none;
  background-gradient-direction: none;
  background: rgba(255,255,255,.3);
}


#Tooltip.mint-tooltip {
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  border: 1px solid #000000;
  background:#454545;
  background-gradient-direction: vertical;
  background-gradient-start: #454545;
  background-gradient-end: #454545;
  color: #f3f3f3;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  padding:3px;
  margin:2px;
}

/* UNSURE
#mint-popup {
    -arrow-border-radius: 6px;
    -arrow-background-color: rgba(55,55,55,1);
    -arrow-border-width: 1px;
    -arrow-border-color: rgba(90,90,90,1);
    -arrow-base: 25px;
    -arrow-rise: 0px;
    -boxpointer-gap: 2px;
}

#mint-popup .popup-menu-content {
    border-image: none;
    text-shadow: 0px 0px 0px 0px;
}

#mint-popup .popup-menu-item {
    border-image: none;
    border-width: 0px;
    text-mint: 0px 0px 0px 0px;
    color: #fff;
    border-radius: 0px;
    padding: .4em 1em;
    spacing: 1em;
}

#mint-popup .popup-menu-item:active {
    box-mint: 0px 0px 0px 0px;
    border-image: none;
    border-width: 0px;
    text-mint: 0px 0px 0px 0px;
    color: #fff;
    background-color: rgba(80,80,80,1);
    background-gradient-direction: none;
}

.soundBox-contextMenuSection {
    padding-left: 15px;
}

*/

/*  
  x-TimeAndDate@nightflame.css  
*/
.clock-container{
  color:#f3f3f3;
  text-shadow: 1px 1px 2px #000;
  padding: 4px 10px 4px 10px;
}
.time-container{
}
.date-container{
}
.clock-date-label{
  font-family:monospace;
  font-weight:bold;
}

/*  
  x-xkcd@rjanja.css  
*/
.xkcd-box {
	padding: 3px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.6);
  border-radius:3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
}

/*  
  x-yfquotes@thegli.css  
*/
.quotes-reader {
  font-size: 1em;
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  padding: 3px;
  border: 1px solid rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.6);
  border-radius:3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}

.quotes-table-item {
  padding-left: 2px;
  padding-right: 5px;
}

.quotes-label {
  text-align: center;
}

.quotes-label-up {
  text-align: center;
  color: #7ea454;
}

.quotes-label-down {
  text-align: center;
  color: #dc5050;
}

.error-label {
  text-align: left;
  color: #de9d45;
}

