#scrollrail-vertical,
#scrollrail-horizontal{
position:fixed;
margin:0;
padding:0;
background:transparent}

::-webkit-scrollbar {
  width:8px;
  height:8px;
}

::-webkit-scrollbar-corner,
::-webkit-resizer,
::-webkit-scrollbar-track{
}
::-webkit-scrollbar-track:vertical {
}
::-webkit-scrollbar-track:horizontal {
}

::-webkit-scrollbar-thumb {
  background:#7a7a7a;
  border-radius:2px;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:vertical:active {
  min-width:8px;
  background:#7a7a7a;
  border-radius:2px;
}
::-webkit-scrollbar-thumb:horizontal:hover,
::-webkit-scrollbar-thumb:horizontal:active {
  min-height:8px;
  background:#7a7a7a;
  border-radius:2px;
}

::-webkit-scrollbar-button {
height:0px;
width:0px;
opacity:0;
background-color:transparent;
background-size:0px 0px;
background-position:center; 
background-repeat:no-repeat;}

::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:decrement {
}
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:increment {
}
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:decrement {
}
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:increment {
}
