.calendar-background {
}
.datemenu-date-label {
  padding: .4em 1.75em;
  font-size: 1em;
  text-align: center;
  color: #f3f3f3;
  background:rgba(0,0,0,0.9);
  font-weight: bold;
  border-radius: 2px;
  border-radius-bottomleft: 0;
  border-radius-bottomright: 0;
  border: 1px solid #000000;
}
.calendar {
  background:rgba(0,0,0,0.8);
  border: 1px solid #000000;
  border-radius: 2px;
  border-radius-topleft: 0;
  border-radius-topright: 0;
  border-top:0;
  font-size: 1em;
  color: #f3f3f3;
  text-shadow: black 0 0 2px;
  padding: 0;
  spacing-rows: 0;
  spacing-columns: 0;
}
.calendar-month-label {
  color: rgba(255,255,255,0.5);
  font-size: 0.85;
  padding: 5px;
  font-weight: bold;
}
.calendar-change-month-back,
.calendar-change-month-forward:rtl {
  width: 16px;
  height: 16px;
  background-image: url("theme/images/arrow_left.svg");
  border-radius: 0;
}
.calendar-change-month-back:hover,
.calendar-change-month-back:active {
  background-color: transparent;
}
.calendar-change-month-forward,
.calendar-change-month-back:rtl {
  width: 16px;
  height: 16px;
  background-image: url("theme/images/arrow_right.svg");
  border-radius: 0;
}
.calendar-change-month-forward:hover,
.calendar-change-month-forward:active {
  background-color: transparent;
}
.calendar-day-base {
  background:transparent;
  text-align: center;
  width: 3em;
  height: 3em;
}
.calendar-day-base:active {
  border-radius:1.5em;
  background-color: #797979;
}
.calendar-day-heading {
  text-align: center;
  font-weight: bold;
  color: rgba(255,255,255,0.5);
}
.calendar-week-number {
  text-align: center;
  font-weight: bold;
  color: rgba(255,255,255,0.5);
}
.calendar-work-day {
}
.calendar-nonwork-day {
  color: rgba(255,255,255,0.5);
}
.calendar-today {
  text-shadow: black 0px 2px 2px;
  color: #f3f3f3;
  font-weight: bold;
}
.calendar-other-month-day{
  color: rgba(255,255,255,0.2);
}
.calendar-day-with-events{
  font-weight: bold;
  color: #797979;
}
