.menu-background {
}
.menu-favorites-box{
  margin-top:40px;
}
.menu-search-box,
.menu-search-box:ltr,
.menu-search-box:rtl {
  height:40px;
  padding: 0;
}
.menu-favorites-box,
.menu-places-box {
  border: 1px solid rgba(0,0,0,0.35);
  border-radius: 2px;
  background-gradient-direction: none;
  background: rgba(255,255,255,1);
  transition-duration: 0;
}
.menu-favorites-button,
.menu-places-button {
  margin:5px;
  padding:5px;
  border-radius:3px;
}
.menu-favorites-button:hover,
.menu-places-button:hover {
  border-radius:3px;
  background-color: #767676;
  color:#ffffff;
}
.menu-categories-box{
  border: 0;
  background: transparent;
  padding:5px 40px;
}
.menu-category-button {
  font-weight:bold;
  padding:5px;
  margin:5px 0;
}
.menu-category-button-greyed {
  font-weight:bold;
  padding:5px;
  margin:5px 0;
  color: rgba(255,255,255,0.5);
}
.menu-category-button-selected {
  font-weight:bold;
  padding:5px;
  margin:5px 0;
  border-radius:3px;
  background-color: #767676;
  color:#ffffff;
}
.menu-category-button-label:ltr {
  padding-left: 10px;
}
.menu-category-button-label:rtl {
  padding-right: 10px;
}
.menu-category-button-selected:hover {
}
.menu-applications-inner-box {
  border: 1px solid rgba(0,0,0,0.35);
  border-radius: 2px;
  background: rgba(255,255,255,1);
  margin:0 3px;
  padding: 5px;
}
.menu-applications-outer-box {
  background:transparent;
  padding:0;
  margin:0;
}
.menu-application-button,
.menu-application-button:highlighted {
  background:transparent;
  padding:5px;
}
.menu-application-button-selected,
.menu-application-button-selected:highlighted {
  border-radius:3px;
  background-color: #767676;
  color:#ffffff;
  padding:5px;
}
.menu-application-button-label:ltr{
  padding-left:5px;
}
.menu-application-button-label:rtl {
  padding-right:5px;
}
.menu-selected-app-box {
  padding-right: 30px;
  padding-left: 28px;
  text-align: right;
  height: 30px;
}
.menu-selected-app-box:rtl {
  padding-top: 10px;
  height: 30px;
}
.menu-selected-app-title {
  font-weight: bold;
}
.menu-selected-app-description {
  max-width: 150px;
}
#menu-search-entry {
  border: 1px solid rgba(0,0,0,0.35);
  border-radius: 2px;
  background: rgba(255,255,255,1);
  background-gradient-direction: none;
  color: #333333;
  selected-color: #f3f3f3;
  selection-background-color:#767676;
  caret-color: #333333;
  caret-size: 2px;
  box-shadow:0 0 0 0 transparent;
  min-width: 300px;
  padding: 2px;
  margin: 5px;
  transition-duration: 0;
}
.menu-search-entry-icon {
    icon-size: 16px;
    margin:0 5px;
    color: #333333;
}
.menu-context-menu {
  margin:5px;
  padding:5px;
  border: 1px solid rgba(0,0,0,0.35);
  background: rgba(255,255,255,.1);
  background-gradient-direction: none;
  border-radius:3px;
}
