.user-box {
  padding: .4em 1.75em;
  spacing: 6px;
}

.user-icon {
  border-radius: 3px;
  background:rgba(0,0,0,0.4);
  border: 1px solid rgba(0,0,0,0.8);
}

.user-label {
  color: #333;
  font-size: 2em;
  font-weight:bold;
  margin: 6px;
}

