headerbar.titlebar,
headerbar.tabbar,
messagedialog box.titlebar,
paned.horizontal.titlebar,
stack.titlebar,
printdialog .titlebar {
  border-radius: 2px 2px 0px 0px;
}

window.csd decoration,
dialog.csd decoration,
messagedialog.csd decoration,
GladeWindow.csd decoration,
terminal-window.csd decoration,
assistant.csd decoration,
printdialog.csd decoration {
  border-radius: 3px 3px 0px 0px;
  border: 1px solid shade(@dark_bg_color, 0.5);
  box-shadow: 3px 3px 15px alpha(@shadow_color, 0.5);
}

window.csd.unified,
dialog.csd.unified,
messagedialog.csd.unified,
GladeWindow.csd.unified,
terminal-window.csd.unified,
assistant.csd.unified,
printdialog.csd.unified {
  border-radius: 3px 3px 0px 0px;
}

window.csd.unified decoration-overlay,
dialog.csd.unified decoration-overlay,
messagedialog.csd.unified decoration-overlay,
GladeWindow.csd.unified decoration-overlay,
terminal-window.csd.unified decoration-overlay,
assistant.csd.unified decoration-overlay,
printdialog.csd.unified decoration-overlay {
  border-radius: 3px 3px 0px 0px;
  border: 1px solid shade(@dark_bg_color, 0.5);
  box-shadow: 3px 3px 15px alpha(@shadow_color, 0.5);
}

window:not(.csd) decoration {
  border-radius: 3px 3px 0px 0px;
}

window.csd.popup decoration,
popover {
  border-radius: 3px 3px 3px 3px;
  border: 1px solid shade(@bg_color, 0.5);
  box-shadow: 0px 0px 5px alpha(@shadow_color, 0.5);
}

menu {
  border-radius: 3px;
}

window.csd toolbar.osd {
  border-radius: 3px 3px 3px 3px;
  background: @base_color;
  border: 1px solid shade(@bg_color, 0.5);
  box-shadow: 0px 0px 5px alpha(@shadow_color, 0.3);
}

window.tooltip,
tooltip,
tooltip.background,
.tooltip.background {
  border-radius: 3px;
  box-shadow: 0px 0px 5px alpha(@shadow_color, 0.3);
  border: 1px solid shade(@tooltip_bg_color, 0.4);
}

popover.background {
  box-shadow: 0px 0px 5px alpha(@shadow_color, 0.3);
}

tooltip decoration {
  border-radius: 3px;
  box-shadow: 0px 0px 3px alpha(@shadow_color, 0.1);
}

/*MATE DESKTOP*/
window#MatePanelPopupWindow > frame > border {
  border: 1px solid shade(@bg_color, 0.5);
  border-radius: 2px;
}
