#altTabPopup {
  padding: 8px;
  spacing: 16px;
}
.switcher-list {
  background: rgba(21,21,21,.95);
  border: 1px solid #000;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
  border-radius: 2px;
  padding: 20px;
  font-size: 0;
  color: #f3f3f3;
  text-shadow: black 0 0 2px;
}
.switcher-list-item-container {
  spacing: 4px;
}
.thumbnail-scroll-gradient-left {
  background-gradient-direction: none;
  background:rgb(51,51,51);
  border-radius: 24px;
  border-radius-topright: 0;
  border-radius-bottomright: 0;
  width: 60px;
}
.thumbnail-scroll-gradient-right {
  background-gradient-direction: none;
  background:rgb(51,51,51);
  border-radius: 24px;
  border-radius-topleft: 0;
  border-radius-bottomleft: 0;
  width: 60px;
}
.switcher-list .item-box {
  padding: 4px;
  border-radius: 2px;
}
.switcher-list .item-box:outlined {
}
.switcher-list .item-box:selected {
  background: #797979;
}
.switcher-list .thumbnail-box {
  padding: 2px;
  spacing: 4px;
}
.switcher-list .thumbnail {
  width: 256px;
}
.switcher-list .separator {
  width: 1px;
  background: rgba(255,255,255,.2);
}
.ripple-box,
.ripple-box:rtl {
  width: 104px;
  height: 104px;
  background-image: url("theme/images/corner-ripple.svg");
}
.switcher-arrow {
  border-color: rgba(0,0,0,0);
  color: #f3f3f3;
}
.switcher-arrow:highlighted {
  border-color: rgba(0,0,0,0);
  color: #ffffff;
}
.switcher-preview-backdrop {
  background-color: rgba(25,25,25,.65);
}
