.applet-box
.applet-label,
.applet-icon {
  margin:0;
  padding:0;
  icon-size:16px;
  text-shadow:0 0 transparent;
  color:#f3f3f3;
}
.applet-separator {
}
.applet-separator-line,
.applet-separator-line-vertical {
  padding:0;
  margin:0;
  width: 2px;
  background: rgba(255,255,255,.15);
}

.panel-top .applet-box,
.panel-bottom .applet-box,
.panel-left .applet-box,
.panel-right .applet-box {
  margin:2px;
}

.panel-top .applet-label,
.panel-bottom .applet-label,
.panel-left .applet-label,
.panel-right .applet-label {
  margin:0px 5px;
}
