.check-box CinnamonGenericContainer {
  spacing: .2em;
}
.check-box StBin,
.check-box:focus StBin {
  width: 16px;
  height: 16px;
  background-image: url("theme/images/checkbox.svg");
}
.check-box:checked StBin,
.check-box:focus:checked StBin {
  background-image: url("theme/images/checkbox_checked.svg");
}
.check-box StLabel {
  font-weight:normal;
}
.radiobutton CinnamonGenericContainer {
  spacing: .2em;
  height: 18px;
  padding-top: 2px;
}
.radiobutton StBin,
.radiobutton:focus StBin {
  width: 16px;
  height: 16px;
  background-image: url("theme/images/radiobox.svg");
}
.radiobutton:checked StBin,
.radiobutton:focus:checked StBin {
  background-image: url("theme/images/radiobox_checked.svg");
}
.radiobutton StLabel {
  padding-top: 4px;
  font-size: .9em;
  box-shadow: none;
}
