.desklet {
  font-size: 1em;
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
}
.desklet-with-borders {
  font-size: 1em;
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  padding: 3px;
  border: 1px solid rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.6);
  border-radius:3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}
.desklet-with-borders-and-header {
  font-size: 1em;
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  border: 1px solid rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.6);
  border-radius-bottomleft: 3px;
  border-radius-bottomright: 3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}
.desklet-header {
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  font-size: 1em;
  font-weight:bold;
  border: 1px solid rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.6);
  border-bottom: 0;
  border-radius-topleft: 3px;
  border-radius-topright: 3px;
  padding:5px 2px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}
.desklet:highlight,
.desklet:highlight-with-borders,
.desklet:highlight-with-borders-and-header,
.desklet-drag-placeholder {
  border-radius:3px;
  border: 0;
  background-color: rgba(0,0,0,.3);
}
