.expo-background {
  background-gradient-direction: vertical;
  background-gradient-start: #7c7b78;
  background-gradient-end: #5e5d5b;
  background-image: url("theme/images/noise.png");
  background-repeat: repeat;
}

.workspace-thumbnail {
}

.workspace-thumbnails {
  spacing: 32px;
}

.expo-workspace-thumbnail-frame {
  border-radius:0px;
  border:1px solid rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,.3);
}
.expo-workspace-thumbnail-frame#active {
  border:1px solid rgba(48,48,48,.8);
  background-color: rgba(48,48,48,.3);
}
.expo-workspaces-name-entry {
  height:15px;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  background: rgba(0,0,0,.5);
  min-width: 200px;
  color: rgba(255,255,255,.9);
  padding:5px;
  text-align: center;
  background-gradient-direction: none;
  caret-color: rgba(255,255,255,.9);
  caret-size: 2px;
  selection-background-color: #797979;
  selected-color: #fff;
}
.expo-workspaces-name-entry#selected {
  background-color: rgba(48,48,48,.8);
  border-color: rgba(48,48,48,.95);
  color: rgba(255,255,255,.9);
}
.expo-workspaces-name-entry:focus {
  color: rgba(255,255,255,.9);
  transition:0;
}

.expo-workspaces-name-entry > * {
  margin:20px;
  padding:20px;
}

.workspace-add-button {
  background-image: url("theme/images/expo-add-workspace.svg");
  height: 60px;
  width: 60px;
  transition-duration: 0;
}

.workspace-add-button:hover {
  background-image: url("theme/images/expo-add-workspace_hover.svg");
  height: 60px;
  width: 60px;
  transition-duration: 0;
}

.workspace-close-button {
    background-image: url("theme/images/close-button.svg");
    height: 48px;
    width: 48px;
    -cinnamon-close-overlap: 24px;
}

/*
unsure stuff or old stuff

.workspace-controls {
    visible-height: 32px;
}
.workspace-thumbnail-indicator {
    outline: 2px solid white;
    border: 1px solid #888;
}
.workspace-thumbnails-background {
  border: 1px solid rgba(255, 128, 255, 0.4);
  border-right: 0px;
    border-radius: 9px 9px 0px 0px;
    background-color: rgba(255, 0, 255, 0.5);
    padding: 8px;
    box-shadow:4px 0px 4px #000000;

}
.workspace-thumbnails-background:rtl {
    border-right: 1px;
    border-left: 0px;
    border-radius: 9px 9px 0px 0px;
}
*/
