stage {
    font-family: Noto Sans, Roboto, sans-serif;
}
.cinnamon-link {
  padding: 2px 5px;
  text-decoration: none;
  color:rgba(255,255,255,.5);
}
.cinnamon-link:hover {
  text-decoration: underline;
  color:#f3f3f3;
}
.label-shadow {
    color: rgba(0,0,0,0);
}
StScrollBar {
  padding:0;
}
StScrollView.vfade {
  -st-vfade-offset: 0;
}
StScrollView StScrollBar {
  min-width: 14px;
  min-height: 14px;
}
StScrollBar StBin#trough {
  background-color: rgba(0,0,0,.4);
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2px;
  padding:2px;
}
StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle,
StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover {
  background-color: rgba(255,255,255,.3);
  border-radius: 2px;
  margin:3px;
}
.separator {
  -gradient-height: 1px;
  -gradient-start: rgba(0,0,0,.5);
  -gradient-end: rgba(0,0,0,.5);
  -margin-horizontal: 0;
  height: 1px;
}
.slider {
    height: 1em;
    min-width:15em;
    color:#8a8a8a;
    -slider-height: 1em;
    -slider-background-color: rgba(0,0,0,.2);
    -slider-border-color: rgba(0,0,0,.6);
    -slider-active-background-color: #8a8a8a;
    -slider-active-border-color: rgba(0,0,0,.6);
    -slider-border-width: 0;
    -slider-handle-radius: 0.5em;
}

/* eg: by adding a new panel */
.info-osd,
#LookingGlassDialog {
  font-size: 1em;
  font-weight:bold;
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  padding: 3px;
  background: rgba(21,21,21,.95);
  border: 1px solid #000;
  border-radius:3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}

/* vol up/down OSD */
.osd-window {
  padding:20px;
  font-size: 1em;
  font-weight:bold;
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,.6);
  background: rgba(21,21,21,0.95);
  border: 1px solid #000;
  border-radius:3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}

.osd-window .level {
  margin:5px;
  height: 1em;
  border-radius:.2em;
  background-color: rgba(255,255,255,.2);
}

.osd-window .level-bar {
  height: 1em;
  border-radius:.2em;
  background-color: rgba(255,255,255,.8);
}

/*Window tiling eg: dragging them to corners or other workspaces*/
.tile-preview,
.tile-hud {
  border-radius:3px;
  border: 0;
  background-color: rgba(0,0,0,.5);
}

.tile-preview.snap,
.tile-hud.snap {
  border-radius:3px;
  border: 0;
  background-color: rgba(48,48,48,.5);
}

.tile-hud:top {
  border-radius: 0 0 3px 3px;
}

.tile-hud:bottom {
  border-radius: 3px 3px 0 0;
}

.tile-hud:left {
  border-radius: 0 3px 3px 0;
}

.tile-hud:right {
  border-radius: 3px 0 0 3px;
}

.tile-hud:top-left {
  border-radius: 0 0 3px 0;
}

.tile-hud:top-right {
  border-radius: 0 0 0 3px;
}

.tile-hud:bottom-left {
  border-radius: 0 3px 0 0;
}

.tile-hud:bottom-right {
  border-radius: 3px 0 0 0;
}

/* visual alerts*/
.flashspot {
    background-color: #de9d45;
    transition:5s;
}
/* ===================================================================
 * unsure stuff
 * ===================================================================*/

.window-close-area {
    background-image: url("trash-icon.png");
    background-size: 100px;
    background-color: rgba(60, 60, 60, 0.8);
    border: 4px solid rgba(128,128,128,0.8);
    border-bottom-width: 0px;
    border-radius: 20px 20px 0px 0px;
    height: 120px;
    width: 400px;
}


#overview {
  spacing: 12px;
}

.overview-icon {
    border-radius: 4px;
    padding: 3px;
    border: 1px rgba(0,0,0,0);
    font-size: 7.5pt;
    color: white;
    transition-duration: 100;
    text-align: center;
}

/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
    icon-size: 48px;
}
.mount-password-reask {
    color: red;
}
.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}
.show-processes-dialog-subject,
.mount-question-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #666666;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}
.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0;
    padding-right: 17px;
}
.show-processes-dialog-description,
.mount-question-dialog-description {
    font-size: 10pt;
    color: white;
    padding-left: 17px;
    width: 28em;
}
.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}
.show-processes-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}
.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}
.show-processes-dialog-app-list-item {
    color: #ccc;
}
.show-processes-dialog-app-list-item:hover {
    color: white;
}
.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}
.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}
.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}
.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}
.show-processes-dialog-app-list-item-name {
    font-size: 10pt;
}

/* ===================================================================
 * About Dialog (applet.js and desklet.js)
 * ===================================================================*/
.about-content {
    width: 550px;
    height: 250px;
    spacing: 8px;
    padding-bottom: 16px;
}

.about-title {
    font-size: 2em;
    font-weight: bold;
}

.about-uuid {
    font-size: .8em;
}

.about-icon {
    padding-right: 20px;
}

.about-scrollBox {
    border: solid 1px grey;
    border-radius: 4px;
}

.about-scrollBox-innerBox {
    padding: 1.2em;
    spacing: 1.2em;
}

.about-description {
    padding-top: 4px;
}

.about-version {
    padding-left: 7px;
}

