.magnifier-zoom-region {
  background: rgba(21,21,21,.95);
  border: 1px solid #000;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
  border-radius: 2px;
  padding:0;
}
.magnifier-zoom-region.full-screen {
    border-width:0;
}
