/*desktop darken*/
.lightbox {
  background-color: rgba(0,0,0,.2);
}

.modal-dialog {
  background: #484848;
  border: 1px solid #2a2a2a;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
  border-radius: 2px;
  padding: 20px;
  padding-bottom:0px;
  font-size: 1em;
  font-weight:bold;
  color: #f3f3f3;
  text-shadow: black 0 0 2px;
}
.modal-dialog-button-box {
  spacing: 20px;
  margin: 5px 0;
  margin-top:30px;
  margin-bottom:5px;
}
.modal-dialog-button {
  border-radius: 2px;
  background-gradient-direction: none;
  background: rgba(255,255,255,.1);
  border: 1px solid #2a2a2a;
  background:rgba(255,255,255,.1);
  padding: 5px 30px;
  color:#f3f3f3;
  font-weight:normal;
}
.modal-dialog-button:disabled {
  color:rgba(255,255,255,.5)
}
.modal-dialog-button:hover,
.modal-dialog-button:active,
.modal-dialog-button:pressed {
  background-gradient-direction: none;
  background: rgba(255,255,255,.2);
}
