#panel {
  color: #f3f3f3;
  text-shadow:none;
  background-color: #484848;
  font-size: 1em;
  font-weight: bold;
  height: 24px;
  width: 24px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}
#panel:highlight {
  background-color: #797979;
  border-radius:2px;
  border:1px solid rgba(255,255,255,.4);
}
.panel-dummy {
  border-radius:2px;
  border:1px solid rgba(255,255,255,.4);
  background-color: rgba(255,255,255,.1);
}
.panel-dummy:entered {
    background-color: rgba(255,35,35,.4);
}
.panelLeft:dnd {
  border-radius:2px;
  border:1px solid rgba(255,255,255,.4);
  background-color: rgba(255,255,255,.1);
}
.panelCenter:dnd {
  border-radius:2px;
  border:1px solid rgba(255,255,255,.4);
  background-color: rgba(255,255,255,.1);
}
.panelRight:dnd {
  border-radius:2px;
  border:1px solid rgba(255,255,255,.4);
  background-color: rgba(255,255,255,.1);
}
.panelLeft,
.panelCenter,
.panelRight,
.panelLeft:ltr,
.panelLeft:rtl,
.panelRight:ltr,
.panelRight:rtl,
.panelLeft.vertical,
.panelRight.vertical,
.panelCenter.vertical,
.panelLeft.vertical:dnd,
.panelCenter.vertical:dnd,
.panelRight.vertical:dnd {
  margin:0;
  padding:0;
  spacing:0;
}
.panel-top {
  margin:0;
  padding:0;
  border:1px solid #2a2a2a;
  border-left:0;
  border-right:0;
  border-top:0;
}
.panel-bottom {
  margin:0;
  padding:0;
  border:1px solid #2a2a2a;
  border-left:0;
  border-right:0;
  border-bottom:0;
}
.panel-left {
  margin:0;
  padding:0;
  border:1px solid #2a2a2a;
  border-left:0;
  border-top:0;
  border-bottom:0;
}
.panel-right {
  margin:0;
  padding:0;
  border:1px solid #2a2a2a;
  border-right:0;
  border-top:0;
  border-bottom:0;
}
.panel-status-button,
.panel-status-button:hover {
  border:0;
  margin:0;
  padding:0;
  spacing:0;
  -natural-hpadding: 0;
  -minimum-hpadding: 0;
  color: #f3f3f3;
}

.system-status-icon {
  padding: 0;
  spacing: 0;
  margin: 1px 2px;
  color:#f3f3f3;
  icon-size:16px;
}
.vertical .system-status-icon {
  margin: 2px 1px;
}
.system-status-icon.warning {
  color: #de9d45;
}
.system-status-icon.error {
  color: #dc5050;
}
.panel-corner,
.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus,
.panel-button #appMenuIcon,
.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon,
.panel-button,
.panel-button:hover,
.panel-button:active,
.panel-button:overview,
.panel-button:focus,
.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon,
.panel-menu{
  padding:0;
  margin:0;
  spacing:0;
  background:transparent;
  text-shadow:none;
  color:transparent;
}
