.popup-menu-boxpointer {
  -arrow-border-radius: 8px;
  -arrow-background-color: rgba(80,255,80,.9);
  -arrow-border-width: 2px;
  -arrow-border-color: #ff00ff;
  -arrow-base: 24px;
  -arrow-rise: 11px;
}
.popup-menu,
.menu {
  margin:2px;
  border-radius: 2px;
  color: #f3f3f3;
  background-color: #484848;
  border:1px solid #2a2a2a;
  font-size: 1em;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
  min-width: 100px;
}
.popup-menu-arrow {
  icon-size: 16px;
}
.popup-submenu-menu-item {
  margin-top:3px;
}
.popup-submenu-menu-item:open {
  border-radius:3px;
  background-color: #797979;
}
.popup-sub-menu {
  margin:5px;
  padding:5px;
  border: 1px solid rgba(0,0,0,.5);
  background: rgba(0,0,0,.4);
  background-gradient-direction: none;
  border-radius:3px;
}
.popup-sub-menu .popup-menu-item:ltr {
  padding-right: 1.75em;
}
.popup-sub-menu .popup-menu-item:rtl {
  padding-left: 1.75em;
}


/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
	margin: 0px .4em;
  padding: 1em 0em;
}
.popup-menu-item {
  padding: .4em 1.75em;
  spacing: 1em;
}
.popup-menu-item:active {
	border-radius:3px;
  background-color: #797979;
}
.popup-menu-item:insensitive {
  color: rgba(255,255,255,.5);
}
.popup-inactive-menu-item {
  font-weight: normal;
  color: rgba(255,255,255,.5);
}
.popup-image-menu-item {
}
.popup-combobox-item {
    spacing: 1em;
}
.popup-separator-menu-item {
  -gradient-height: 1px;
  -gradient-start: rgba(0,0,0,.5);
  -gradient-end: rgba(0,0,0,.5);
  -margin-horizontal: 0;
  height: 1px;
}
.popup-alternating-menu-item:alternate {
  font-weight: bold;
}
.popup-slider-menu-item {
  height: 1em;
  min-width:15em;
  color:#8a8a8a;
  -slider-height: 1em;
  -slider-background-color: rgba(0,0,0,.2);
  -slider-border-color: rgba(0,0,0,.6);
  -slider-active-background-color: #8a8a8a;
  -slider-active-border-color: rgba(0,0,0,.6);
  -slider-border-width: 0px;
  -slider-handle-radius: 0.5em;
}
.popup-device-menu-item {
  spacing: .5em;
}
.popup-subtitle-menu-item {
  font-weight: bold;
}
.popup-menu-item-dot {
  color:#f3f3f3;
}
.popup-menu-icon {
  icon-size: 16px;
}
/* Switches (to be used in menus) */
.toggle-switch {
  height:16px;
  width:16px;
}
.toggle-switch-intl,
.toggle-switch-us {
  background-image: url("theme/images/checkbox.svg");
}
.toggle-switch-intl:checked,
.toggle-switch-us:checked {
  background-image: url("theme/images/checkbox_checked.svg");
}
.nm-menu-item-icons {
  spacing: .5em;
}


/* UNSURE
.popup-sub-menu StScrollBar {
    padding: 4px;
}
.popup-sub-menu StScrollBar StBin#trough {
    border-width: 0px;
}
.popup-sub-menu StScrollBar StBin#vhandle {
    background-color: #4c4c4c;
    border-width: 0px;
}
.popup-combo-menu {
    background-color: rgba(0,0,0,0.9);
    padding: 1em 0em;
    color: #ffffff;
    font-size: 10.5pt;
    border: 1px solid #5f5f5f;
    border-radius: 9px;
}
*/
