/* inherits modal dialog!*/
.run-dialog {
  background: #484848;
  border: 1px solid #2a2a2a;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
  border-radius: 2px;
  padding: 15px;
  font-size: 1em;
  font-weight:bold;
  color: #f3f3f3;
  text-align:center;
}
.run-dialog-label {
  text-align:center;
  font-size:1em;
  color: #f3f3f3;
  margin:5px 0;
}
.run-dialog-error-label {
  font-weight:bold;
  color: #333;
  text-shadow: #dc7979 0 1px;
  margin:5px;
}
.run-dialog-error-icon {
  margin:5px;
}
.run-dialog-error-box {
  margin:5px 0;
  border-radius: 2px;
  border: 1px solid #4c1c1c;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,.15);
  background: #dc5050;
  background-gradient-direction: vertical;
  background-gradient-start: #dc5151;
  background-gradient-end: #c84a4a;
}
.run-dialog-completion-box {
  border:1px solid #2a2a2a;
  font-size: .95em;
  background: rgba(0,0,0,.2);
}
.run-dialog-entry {
  font-size: 1em;
  font-weight: bold;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  background: rgba(0,0,0,.1);
  background-gradient-direction: none;
  caret-color: #f3f3f3;
  caret-size: 2px;
  box-shadow:0 0 0 0 transparent;
  min-width: 300px;
  margin:5px 0;
  padding:5px 0;
  color: #f3f3f3;
  selection-background-color: #797979;
  selected-color: #fff;
}
