#Tooltip {
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  border: 1px solid #000;
  background:#454545;
  color: #f3f3f3;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  padding:3px;
  margin:2px;
}
