.workspace-overview-background-shade {
  background: rgba(0,0,0,.3)
}

.window-border {
  border-radius:2px;
  border:1px solid #797979;
  background-color: rgba(48,48,48,.3);
}

.window-border:not(:hover) {
  border-radius:2px;
  border:1px solid #797979;
  background-color: rgba(48,48,48,.3);
}

.window-close {
  background-image: url("theme/images/close-button.svg");
  height: 48px;
  width: 48px;
  -cinnamon-close-overlap: 24px;
}
.window-caption {
  background: transparent;
  border: 0;
  border-radius: 0;
  font-size: 0;
  padding: 2px 8px;
  -cinnamon-caption-spacing: 0;
}
.window-caption StIcon {
  icon-size:0;
  height:0;
  background: transparent;
  border: 0px;
}
