.solid-csd decoration {
  border: 1px solid shade(@dark_bg_color, 0.5);
}
window:not(.csd) window.background.popup menu {
  border: 1px solid shade(@bg_color, 0.5);
}
window:not(.csd) menu,
window:not(.csd) popover,
dialog:not(.csd) menu,
dialog:not(.csd) popover {
  border: 1px solid shade(@bg_color, 0.5);
}
tooltip,
.tooltip.background {
  border: 1px solid shade(@tooltip_bg_color, 0.4);
}
window.solid-csd toolbar.osd {
  background: @base_color;
  border: 1px solid shade(@bg_color, 0.5);
}

/*MATE DESKTOP*/
window#MatePanelPopupWindow > frame > border {
  border: 1px solid shade(@bg_color, 0.5);
  border-radius: 0px;
}
