.grouped-window-list-number-label {
  z-index: 99;
  text-shadow: black 1px 0px 2px;
  color:#f3f3f3;
  padding: 0;
}
.grouped-window-list-badge {
  border-radius: 1em;
  background-color: rgba(0,0,0,.8);
}
.grouped-window-list-button-label {
    margin:0 5px;
}
.grouped-window-list-thumbnail-alert {
  background: rgba(87,62,27,.2);
}
.grouped-window-list-item-box {
  color:rgba(250,250,250,.5);
  spacing: 0;
  padding: 0;
  margin:0;
}
.grouped-window-list-item-box #appMenuIcon,
.grouped-window-list-item-box StIcon{
  margin:0px;
  padding:0px;
}

.grouped-window-list-item-box{
  color:rbga(250,250,250,.5);
  background:none;
  border:1px solid transparent;
}

.grouped-window-list-item-box:focus {
  color:#f3f3f3;
  border-radius:2px;
  border:1px solid rgba(0,0,0,.35);
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0,0,0,.2);
  background-gradient-end: rgba(0,0,0,.05);
  box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,.35);
}

.grouped-window-list-item-demands-attention {
  background-gradient-direction: none;
  background:#dc5050;
}

.grouped-window-list-item-box .progress {
  background-gradient-direction: none;
  background: rgba(255,255,255,.05);
  border-radius: 0 0 0 0;
}

.grouped-window-list-thumbnail-label {
  margin: 4px;
  text-align:center;
  font-weight:bold;
}
.grouped-window-list-thumbnail-menu {
  background: rgba(21,21,21,0.95);
  border: 1px solid #000000;
  border-radius: 2px;
}
.grouped-window-list-thumbnail-menu .item-box {
  margin:5px;
  padding: 10px;
  border-radius: 2px;
  spacing: 4px;
}
.grouped-window-list-thumbnail-menu .item-box:outlined {
  padding: 6px;
  border: 2px solid rgba(165, 165, 165, .7)
}
.grouped-window-list-thumbnail-menu .item-box:selected {
  background: rgba(255,255,255,.2);
}
.grouped-window-list-thumbnail-menu .thumbnail {
  width: 256px;
}
.grouped-window-list-thumbnail-menu .separator {
  width: 1px;
  background: rgba(0,0,0,.5);
}

