.notification-applet-padding {
  padding: .5em 1em;
}

.notification-applet-container {
  max-height: 100px;
}

#notification {
  background: rgba(21,21,21,0.95);
  border: 1px solid #000000;
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.6);
  border-radius: 2px;
  padding: 20px;
  font-size: 1em;
  color: #f3f3f3;
  text-shadow: black 0 0 2px;
  spacing-rows: 10px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 10px;
  width: 32em;
}
#notification.multi-line-notification {
  padding-bottom: 8px;
  color: #f3f3f3;
}
/* We use row-span = 2 for the image cell, which prevents its height preferences to be
taken into account during allocation, so its height ends up being limited by the height
of the content in the other rows. To avoid showing a stretched image, we set the minimum
height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
  min-height: 159px;
  color: #f3f3f3;
}
#notification-scrollview {
  max-height: 10em;
}
#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
  height: 1em;
}
#notification-scrollview:ltr > StScrollBar {
  padding-left: 6px;
}
#notification-scrollview:rtl > StScrollBar {
  padding-right: 6px;
}
#notification-body {
  spacing: 5px;
}
#notification-actions {
  spacing: 10px;
}
.notification-button,
.notification-button:hover,
.notification-button:focus,
.notification-icon-button,
.notification-icon-button:hover,
.notification-icon-button:focus {
  border-radius: 2px;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.1);
  background-gradient-end: rgba(255,255,255,.1);
  border:1px solid #000000;
  background:rgba(255,255,255,.1);
  padding: 4px 8px 5px;
}

.notification-button:hover,
.notification-button:focus,
.notification-icon-button:hover,
.notification-icon-button:focus {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,.3);
  background-gradient-end: rgba(255,255,255,.3);
}

.notification-icon-button > StIcon {
  icon-size: 22px;
}
