#keyboard {
  border-top:1px solid #000000;
  border-bottom:1px solid #000000;
  background-color: #454545;
}
.keyboard-layout {
  spacing: 10px;
  padding: 10px;
}
.keyboard-row {
  spacing: 0px;
}
.keyboard-key {
  min-height: 20px;
  min-width: 20px;
  background-gradient-start: rgba(65,65,65,0.8);
  background-gradient-end: rgba(45,45,45,0.6);
  background-gradient-direction: vertical;
  font-size: 2em;
  font-family: Noto Sans Mono;
  font-weight: bold;
  border-radius: 0px;
  border: 1px solid rgba(0,0,0,0.35);
  border-right:0;
  color: #f3f3f3;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.35);
}
.keyboard-key:first-child {
  border-radius-topleft: 2px;
  border-radius-bottomleft: 2px;
}
.keyboard-key:last-child {
  border-radius-topright: 2px;
  border-radius-bottomright: 2px;
  border-right: 1px solid rgba(0,0,0,.35);
}
.keyboard-key:first-child:last-child  {
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.35);
}
.keyboard-key:grayed {
  color: rgba(95,95,95,0.5);
  background: rgba(35,35,35,1);
  background-gradient-direction: none;
  border: 1px solid #000000;
  box-shadow: none;
}
.keyboard-key:checked,
.keyboard-key:active{
  color: #797979;
  background-gradient-start: rgba(40,40,40,1);
  background-gradient-end: rgba(45,45,45,1);
  box-shadow: 0px 1px 0px 0px rgba(75,75,75,1);
  border: 1px solid #000000;
}
.keyboard-key:checked {
}
.keyboard-subkeys {
  color: white;
  padding: 5px;
  -arrow-border-radius: 3px;
  -arrow-background-color: #353535;
  -arrow-border-width: 1px;
  -arrow-border-color: #000000;
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 5px;
}

