.panel-launchers {
  padding: 0 5px;
  spacing: 2px;
}

.panel-launchers.vertical {
  padding: 5px 0;
  spacing: 2px;
}

.launcher {
  padding: 0;
  border: 0;
  transition-duration: 0;
}
.launcher .icon-box,
.panel-launchers.vertical .launcher .icon-box  {
  padding: 2px;
}
.panel-launchers .launcher:hover {
}
