StBoxLayout.applet-box.sound-cinnamon-org-applet {
  padding:0;
}

StBoxLayout.applet-box.sound-cinnamon-org-applet StIcon{
  icon-size:16px;
}

StBoxLayout.applet-box.sound-cinnamon-org-applet StLabel{
  border:1px solid rgba(0,0,0,.8);
  background-color:rgba(0,0,0,.2);
  border-radius:2px;
  color:rgba(255,255,255,.8);
  padding:1px 5px;
  margin:0px;
  font-size:80%;
  text-shadow:0 1px 0 #000;
  font-weight:normal;
}

.sound-player {
  margin-top:5px;
  background:rgba(0,0,0,.6);
  border-radius: 2px;
  border: 1px solid #000;
  color: rgba(255,255,255,.8);
}

.sound-player .slider {
  border-top:1px solid #2a2a2a;
  height: 1em;
  -slider-height: 0.5em;
  -slider-background-color: #cccccc;
  -slider-border-color: rgba(0,0,0,0);
  -slider-active-background-color: #ee0f0f;
  -slider-active-border-color: rgba(0,0,0,0);
  -slider-border-width: 0px;
  -slider-handle-radius: 0px;
}

.sound-player StBoxLayout {
  spacing: 0.5em;
}

.sound-player>StBoxLayout {
  padding: 0 16px 8px;
}

.sound-player-overlay {
  width: 300px;
  padding: 12px 16px;
  spacing: 0.5em;
  background-color: rgba(0,0,0,.8);
  color: #ffffff;
  border-top: 1px solid rgba(0,0,0,.95);
}

.sound-player-overlay StButton {
  border-radius: 2px;
  background:rgba(255,255,255,.3);
  background-gradient-direction: none;
  border:1px solid #000000;
  color: #ffffff;
  padding: 4px 8px 5px;
}
.sound-player-overlay StButton:hover,
.sound-player-overlay StButton:focus {
  background-gradient-direction: none;
  background: rgba(255,255,255,.4);
}

.sound-player-overlay StButton > StIcon {
    icon-size: 16px;
}

.sound-player-overlay StBoxLayout {
  padding-top: 2px;
}

.sound-player-generic-coverart {
  background: rgba(0,0,0,0.2);
}

/*UNSURE
.sound-player StButton {
    min-width: 16px;
    min-height: 16px;
    padding:5px 10px;
    color: #aaa;
}

.sound-player StButton:small {
    width: 16px;
    height: 16px;
}

.sound-player StButton:small StIcon {
    icon-size: 16px;
}

.sound-player StButton StIcon {
    icon-size: 16px;
}

.sound-player StButton:hover, .sound-player StButton:active {
  color: #fff;
}
* */
