.window-list-box {
  spacing: 2px;
  margin:0 10px;
  padding:0;
}
.window-list-box.vertical {
  spacing: 3px;
  margin:10px 0;
  padding:0;
}

.window-list-item-box.top #appMenuIcon,
.window-list-item-box.top StIcon,
.window-list-item-box.bottom #appMenuIcon,
.window-list-item-box.bottom StIcon {
  margin:0;
  padding:0;
  icon-size:0px;
  height:0;
  width:0;
}
.window-list-item-box,
.window-list-item-box.top,
.window-list-item-box.left,
.window-list-item-box.right,
.window-list-item-box.bottom  {
  color: rgba(250,250,250,.5);
  background-gradient-direction: none;
  background: transparent;
  box-shadow: inset 0 0 0 1 transparent;
  border:1px solid transparent;
  transition-duration: 0;
  spacing: 0.5em;
  padding: 0 .5em;
}

.window-list-item-box.left,
.window-list-item-box.right {
  padding: .5em 0;
}
.window-list-item-box:hover,
.window-list-item-box:focus {
  color:#f3f3f3;
}
.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus {
  border-radius: 0 0 0 0;
  background-gradient-direction: none;
  background: rgba(0,0,0,.2);
  box-shadow: inset 0 5px 20px -15px rgba(0,0,0,0.75);
  border:1px solid #2a2a2a;
  border-top:0;
  border-bottom:0;
}

.window-list-item-box.left:active,
.window-list-item-box.left:checked,
.window-list-item-box.left:focus,
.window-list-item-box.right:active,
.window-list-item-box.right:checked,
.window-list-item-box.right:focus {
  border:1px solid #2a2a2a;
  border-left:0;
  border-right:0;
}
.window-list-item-demands-attention {
  background-gradient-direction: none;
  background:#dc5050;
}
.window-list-item-box .progress {
  background-gradient-direction: none;
  background: rgba(255,255,255,.05);
  border-radius: 0 0 0 0;
}
.window-list-preview {
  background: rgba(21,21,21,0.95);
  border: 1px solid #000000;
  box-shadow: 0 0 20px 4px rgba(0,0,0,1);
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  color: #f3f3f3;
  text-shadow: black 0 0 2px;
}
