.panel-top .workspace-switcher,
.panel-bottom .workspace-switcher,
.panel-top .workspace-graph,
.panel-bottom .workspace-graph {
  padding: 0 3px;
  margin:2px;
}
.panel-left .workspace-switcher,
.panel-right .workspace-switcher,
.panel-left .workspace-graph,
.panel-right .workspace-graph {
  padding:3px 0;
  margin:2px;
}

.workspace-button,
.workspace-graph .workspace {
  color:rgba(255,255,255,.5);
  font-weight:bold;
  background:rgba(0,0,0,.2);
  border: 1px solid #2a2a2a;
  border-right:0;
  border-radius:0;
  padding: 0 8px;
  transition:none;
}
.workspace-button:first-child,
.workspace-graph .workspace:first-child {
  border-radius:2px 0 0 2px;
  border-left:1px;
  border-right:0;
}
.workspace-button:last-child,
.workspace-graph .workspace:last-child {
  border-radius:0 2px 2px 0;
  border-left:1px;
  border-right:1px;
}

.vertical .workspace-button,
.vertical .workspace-graph .workspace {
  color:rgba(255,255,255,.5);
  font-weight:bold;
  background:rgba(0,0,0,.2);
  border: 1px solid #2a2a2a;
  border-bottom:0;
  border-radius:0;
  padding: 8px 0;
  transition:none;
}
.vertical .workspace-button:first-child,
.vertical .workspace-graph .workspace:first-child {
  border-radius:2px 2px 0 0;
  border-top:1px;
  border-bottom:0;
}
.vertical .workspace-button:last-child,
.vertical .workspace-graph .workspace:last-child {
  border-radius:0 0 2px 2px;
  border-top:1px;
  border-bottom:1px;
}

.workspace-button:outlined,
.workspace-graph .workspace:active {
  background: #797979;
  color: #fff;
}

.workspace-graph .workspace .windows {
  -active-window-background: rgba(140,140,140,1);
  -active-window-border: rgba(0,0,0,.7);
  -inactive-window-background: rgba(140,140,140,1);
  -inactive-window-border: rgba(0,0,0,.7);
}

.workspace-graph .workspace:active .windows {
  -active-window-background: rgba(255,255,255,1);
  -active-window-border: rgba(0,0,0,.9);
  -inactive-window-background: rgba(140,140,140,1);
  -inactive-window-border: rgba(0,0,0,.7);
}

.workspace-osd {
  padding:5px;
  font-size: 5em;
  font-weight:bold;
  color: #f3f3f3;
  text-shadow:0 1px 1px rgba(0,0,0,0.6);
  padding:5px 20px;
  background: rgba(21,21,21,0.95);
  border: 1px solid #000000;
  border-radius:3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
}
