.SU-number-label {
  z-index: 99;
  text-shadow:none;
  font-weight:bold;
  background:transparent;
  padding:0px;
}
.SU-badge {
  text-shadow:none;
  margin-top: 6px;
  background:#de9d45;
  padding:0px;
}
.SU-notification-applet-container {
  max-height: 500px;
}
